/**
 * Fonts
 */

// Use this syntax for including web fonts cross browser

// @font-face {
// 	font-family: 'Name of the font';
// 	src: url('fonts/webfont.eot');
// 	src: url('fonts/webfont.eot?#iefix') format('embedded-opentype'),
// 		 url('fonts/webfont.woff') format('woff'),
// 		 url('fonts/webfont.ttf') format('truetype'),
// 		 url('fonts/webfont.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

@font-face {
	font-family: 'lydian-mt';
		src: url('../fonts/lydian-mt.eot');
		src: url('../fonts/lydian-mt.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/lydian-mt.woff') format('woff'),
			 url('../fonts/lydian-mt.ttf') format('truetype'),
			 url('../fonts/lydian-mt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
//
// @font-face {
// 	font-family: 'lydian-mt';
// 	src: url('fonts/lydian-mt.ttf') format('truetype');
// 	font-weight: normal;
// 	font-style: normal;
// }
