// Font families
$serif: Palatino, Georgia, serif;
$sans-serif: 'questa-sans-light', Geneva, Gill Sans, Calibri, sans-serif;
$monospace: 'Source Code Pro', Consolas, monospace;

@mixin questa-sans-light {
	font-family: 'questa-sans-light', $sans-serif;
	font-weight: normal;
}
@mixin questa-sans-light-italic {
	font-family: 'questa-sans-light-italic', $sans-serif;
	font-weight: normal;
	font-style: normal;
}
@mixin questa-sans-medium {
	font-family: 'questa-sans-medium', $sans-serif;
	font-weight: normal;
}
@mixin questa-sans-bold {
	font-family: 'questa-sans-bold', $sans-serif;
	font-weight: normal;
}
@mixin ff-triplicate {
	font-family: 'Triplicate T4c', $monospace;
}

@mixin root-font-family {
	@include questa-sans-light;
}
@mixin ff-header {
	font-family: 'eskapade-fraktur',  $serif;
	// font-family: 'Triplicate T4c';
	font-weight: normal;
}
@mixin ff-small {
	font-size: $small-font-size;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
