// @mixin ff-header {
// 	font-family: 'eskapade-fraktur', $serif;
// 	// font-family: 'Triplicate T4c';
// 	font-weight: normal;
// }
// @mixin questa-sans-light {
// 	font-family: 'questa-sans-light';
// 	font-weight: normal;
// }
// @mixin questa-sans-light-italic {
// 	font-family: 'questa-sans-light-italic';
// 	font-weight: normal;
// 	font-style: normal;
// }
// @mixin questa-sans-light-bold {
// 	font-family: 'questa-sans-medium';
// 	font-weight: normal;
// }
@mixin ff-triplicate {
	font-family: 'Triplicate T4c', 'Source Code Pro', Consolas, monospace;
}
@mixin ff-small {
	font-size: $small-font-size;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
@mixin ff-sans {
	font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
}
