@mixin ff-header {
	font-family: 'eskapade-fraktur', $serif;
	font-weight: normal;
}

@mixin ff-body {
	font-family: 'questa-sans-light';
	font-weight: normal;
}

@mixin ff-body-italic {
	font-family: 'questa-sans-light-italic';
	font-weight: normal;
	font-style: normal;
}

@mixin ff-body-bold {
	font-family: 'questa-sans-medium';
	font-weight: normal;
}

@mixin ff-small {
	font-size: rem($small);
	letter-spacing: 0.04em;
	text-transform: uppercase;
}

@mixin ff-monospaced {
	// @include rhythm($small);
	font-family: 'Triplicate T4c', 'Source Code Pro', Consolas, monospace;
	font-size: rem($small);
	font-weight: normal;
	// line-height: 1.4;
}
