/**
 * Fonts
 */

// Use this syntax for including web fonts cross browser

$serif: Georgia, serif;

@mixin ff-body() {
	font-family: 'Edita', $serif;
	font-weight: normal;
}
@mixin ff-header() {
	@include negative-text;
	font-family: 'lydian-mt', 'eskapade-fraktur', $serif;
	font-weight: normal;
	// -webkit-font-smoothing: auto; // otherwise it gets too thin, stay with the default bro
}

@font-face {
	font-family: 'lydian-mt';
		src: url('../fonts/lydian-mt.eot');
		src: url('../fonts/lydian-mt.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/lydian-mt.woff') format('woff'),
			 url('../fonts/lydian-mt.ttf') format('truetype'),
			 url('../fonts/lydian-mt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
