// Responsive media.
img,
embed,
iframe,
object {
	max-width: 100%;
}

// Make sure images are scaled correctly.
img {
	height: auto;
	vertical-align: top;
}

// textarea {
// 	margin: 0;
// 	min-height: 5.444444444rem;
// 	max-width: 100%;
// }

ul {
	margin-bottom: 0.75rem;
	padding-left: 0;
	list-style: none;
	line-height: 1.7;
	li:before {
		content: '↝ ';
		// content: '— ';
		// content: '* ';
	}
}

// Links
a {
	color: $anchor-color;
	// color: $black;
}
a {
	&:hover,
	&:focus,
	&:active {
		color: $anchor-color;
		color: $secondary-color;
	}
}

// // // Prefix chapter and topic links with a symbol
// // a[rel="category tag"]::before {
// // 	content: '§';
// // 	opacity: 0.5;
// // }
// // a[rel="tag"]::before,
// // a[class^="tag-link-"] {
// // 	content: '#';
// // }

// Dividers
hr {
	border: 0;
}
.Ornament {
	background-image: url(/images/ornaments/ornament.png);
	background-repeat: no-repeat;
	background-position: center left;
	height: 58px;
	height: 90px;
}
.Ornament--white {
	background-image: url(/images/ornaments/ornament-white.png);
}

button {
	font-size: rem(14px);
	padding: 0.3em 0.6em 0.35em;
	text-transform: uppercase;
	border: 1px solid #555;
	border-radius: 3px;
	border-bottom-width: 2px;
	&:hover,
	&:focus {
		border-color: #000;
	}
}
