// Clearfix
@mixin clearfix {
	&:before,
	&:after {
		content: ' '; /* 1 */
		display: table; /* 2 */
	}

	&:after {
		clear: both;
	}
}

// Vertical rhythm
@mixin rhythm($size) {
	font-size: ($size/$root-font-size) * 1rem;
	line-height: ($root-line-height/$size);
}

/**
 * Negative text
 * use this for whitish text on blackish backgrounds
 *
 * it will make type appear lighter but it also DISABLED subpixel antialiasing which isn't always good
 */

@mixin negative-text {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


$selectionColor: #B3D4FC;

@mixin textShadowToCropUnderline($color) {
	text-shadow: .03em 0 $color, -.03em 0 $color, 0 .03em $color, 0 -.03em $color, .06em 0 $color, -.06em 0 $color, .09em 0 $color, -.09em 0 $color, .12em 0 $color, -.12em 0 $color, .15em 0 $color, -.15em 0 $color;
}

@mixin linkUnderlines($backgroundColor, $color) {
	color: $color;
	text-decoration: none;
	@include textShadowToCropUnderline($backgroundColor);
	background-image: linear-gradient($backgroundColor, $backgroundColor), linear-gradient($backgroundColor, $backgroundColor), linear-gradient($color, $color);
	background-size: .05em 1px, .05em 1px, 1px 1px;
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-position: 0% 90%, 100% 90%, 0% 90%;

	&::selection {
		@include textShadowToCropUnderline($selectionColor);
		background: $selectionColor;
	}
	&::-moz-selection {
		@include textShadowToCropUnderline($selectionColor);
		background: $selectionColor;
	}
	&:before, &:after, *, *:before, *:after {
		text-shadow: none;
	}
	&:visited {
		color: $color;
	}
}
