// Vertical rhythm
@mixin rhythm($size) {
	font-size: ($size/$root-font-size) * 1rem;
	line-height: ($root-line-height/$size);
}

/**
 * Negative text
 * use this for whitish text on blackish backgrounds
 * it will make type appear lighter but it also disables
 * subpixel antialiasing which isn't always good
 */

@mixin negative-text {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
