* {
	box-sizing: border-box;
}
html {
	font-family: 'Edita', serif;
	font-size: 18px;
	line-height: 1.4;
	height: 100%;
	background-color: #fafafa;
}
@media (min-width: 40rem) {
	html {
		
		font-size: 19px;
	}
}
@media (min-width: 55rem) {
	html {
		font-size: 21px;
	}
}

body {
	margin: 0;
	min-height: 100%;
}
.CodesAndNotes {
	display: flex;
	flex-flow: column nowrap;
	padding-top: 2rem;
	min-height: 100vh;
}
.Main {
	flex: 1;
}
.Aside ul {
	padding-left: 0;
	list-style: none;
	font-size: 17px;
}
.Aside ul a {
	display: block;
	padding: 0.1em 0;
}

/* numbered lists */
.List {
	/*font-family: 'Lydian';*/
	/*font-size: 1.25rem;*/
}
.List a {
	display: inline-block;
	padding: 0.1em 0;
}

/* normal lists */
ul.List {
	/*list-style: none;*/
	/*padding-left: 0;*/
}
ul.List li:before {
	/*content: '- ';*/
}

/* code exampels */
pre {
	overflow: auto;
	padding: 1em;
	background-color: #eee;
	word-break: break-word;
}

h1,h2,h3 {
	/*font-family: 'Lydian';*/
	/*font-weight: normal;*/
	margin-bottom: 1rem;
}
h1 {
	font-size: 3.5rem;
	line-height: 1;
	font-family: 'Lydian';
	font-weight: normal;
	/*font-family: 'eskapade-fraktur', 'Edita', serif;
	font-weight: bold;*/
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1rem;
}

a:link,
a:visited {
	color: hsl(9, 79%, 50%);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.Header {}
.Header h1 {
	font-size: 1rem;
	margin-bottom: -0.5em;
}
.Main {}
.Aside {
	padding-left: 1rem;
	padding-right: 1rem;
}

body {
	padding-left: 1rem;
	padding-right: 1rem;
}
@media (min-width: 40em) {
	body {
		padding-left: 25%;
		padding-left: calc(25% + 2rem);
		padding-right: 2rem;
	}
	.Aside {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 1;
		border-right: 1px solid #eee;
		width: 25%;
		overflow-y: auto;
	}
}

.Article-title {
	max-width: 11em;
}

p,
ul {
	max-width: 30em;
}

.Badge {
	background: rgba(204, 204, 204, 0.31);
	border-radius: 0.3em;
	padding: 0em 0.2em;
}

.Breadcrumb {
	list-style: none;
	padding-left: 0;
}
.Breadcrumb li {
	display: inline;
}
.Breadcrumb li:not(:last-child):after {
	content: ' ☞ ';
	position: relative;
	top: 0.1em;
}


.Article:after {
	display: block;
	/*text-align: center;*/
	margin-top: 2rem;
	content: '♦';
	font-size: 3.5rem;
	font-family: 'lydian';
	color: hsl(240, 100%, 27%);
}
