:root {
	@include questa-sans-light;
}

// Set a default margin between elements
blockquote,
ol,
ul,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
address,
textarea,
hr {
	margin-top: 0;
	margin-bottom: $space;
}
figure {
	margin: 0;
	position: relative;
}
table {
	width: 100%;
}
img,
embed,
iframe,
object {
	max-width: 100%;
}
img {
	height: auto; // Make sure images are scaled correctly.
	vertical-align: top;
}
textarea {
	margin: 0;
	min-height: 5.444444444rem;
	max-width: 100%;
}
code {
	font-size: $small-font-size;
}
ul {
	margin-bottom: 0.75rem;
	padding-left: 0;
	list-style: none;
	li {
			margin-bottom: 0.25rem;
	}
	li:before {
		// content: '↝ ';
		content: '— ';
	}
}

// Links
a {
	color: $anchor-color;
	// color: $black;
}
a {
	&:hover,
	&:focus,
	&:active {
		color: $anchor-color;
		color: $secondary-color;
	}
}

// // Prefix chapter and topic links with a symbol
// a[rel="category tag"]::before {
// 	content: '§';
// 	opacity: 0.5;
// }
// a[rel="tag"]::before,
// a[class^="tag-link-"] {
// 	content: '#';
// }

// Dividers
hr {
	border: 0;
}
.Ornament {
	background-image: url(/images/ornaments/ornament.png);
	background-repeat: no-repeat;
	background-position: center left;
	height: 58px;
	height: 90px;
}
.Ornament--white {
	background-image: url(/images/ornaments/ornament-white.png);
}
