// Sizes
$small: 14px;
$base-font-size: 16px;
$base-line-height: 23px;
$medium: 24px;
$large: 30px;
$larger: 36px;
$x-large: 50px;
$space: ($base-line-height/$base-font-size) * 1rem;
$space: 1rem;
// $space: (1.333333333rem); // sass precision wasn't high enough but it is 26/18

$layout-s: 30rem;
$layout-m: 40rem;
$layout-l: 50rem;

// Colors
$black: hsl(0, 0%, 7%);
$secondary: hsl(20, 90%, 50%);
$turquoise: hsl(180, 100%, 30%);
$green: hsl(150, 60%, 25%);
$lightgreen: hsl(130, 21%, 90%);
$sand: #F7F5F3;
$beige: hsl(40, 30%, 96%);
$light: hsl(180, 9%, 98%);
$gray: hsl(0, 0%, 50%);
$lightgray: hsl(0, 0%, 80%);
$darkblue: hsl(240, 60%, 28%);
// $red: hsl(6, 66%, 50%);
// $yellow: hsl(54, 66%, 70%);
// $darkyellow: hsl(66, 25%, 49%);

$primary-color: $green;
$text-color: $black;
$bg-color: $sand; // $light, $beige

.Color--black { background-color: $black;}
.Color--secondary { background-color: $secondary;}
.Color--green { background-color: $green;}
.Color--lightgreen { background-color: $lightgreen;}
.Color--turquoise { background-color: $turquoise;}
.Color--light { background-color: $light;}
.Color--beige { background-color: $beige;}
.Color--sand { background-color: $sand;}
