.Manchet {
	margin-bottom: 2rem;

	h1 {
		max-width: none;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0.5rem;
	}

	p {
		margin-top: 0;
		text-indent: 0;

		@media (min-width: $layout-s) {
			max-width: 90%;
		}
	}
}

.Manchet-author {
	@include ff-small;
}
