* {
	box-sizing: border-box;
}

html {
	background-color: $bg-color;
	color: $black;
}
body {
	margin: 0;
	overflow-y: scroll;
	padding-top: 1px; // hack
}

.CodesAndNotes {
	box-sizing: content-box;
	max-width: 31rem; // less than 31 will break the manchet
	margin-left: auto;
	margin-right: auto;
	padding-top: $space*2;
	padding-left: $space;
	padding-right: $space;
	@media (min-width: $layout-s) {
		padding-left: $space*2;
		padding-right: $space*2;
	}
	@media (min-width: $layout-m) {
		padding-left: $space*3;
		padding-right: $space*3;
	}
}
.Header {
	padding-left: 0;
	max-width: 34rem;
	margin-bottom: $space*2;
}
.Main {
	background-color: $bg-color;
	padding-left: $space;
	padding-right: $space;
	padding-bottom: $space*2;
}
article {
	padding-bottom: $space;
	border-bottom: 2px solid $lightgreen;
	margin-bottom: $space*2;
}
.Footer {
	margin-top: $space;
}
.Aside {
	clear: both;
}

// Styleguide
.Color {
	display: inline-block;
	width: 7em;
	min-height: 7em;
	// line-height: 2em;
	margin: 0 7px 10px 0;
	padding-top: 10px;
	text-align: center;
}

// /**
//  * Chapters
//  */
// main {
// 	counter-reset: section;
// }
// .Chapter {
// 	h2::before {
// 		// content: '§ ';
// 		counter-increment: section;
// 		content: "" counter(section) ". "; // Puts "1. " in front of every chapter title
// 		color: $lightgray;
// 	}
// 	h2 a {
// 		color: $black;
// 	}
// 	> p {
// 		// max-width: 30rem;
// 		font-size: (18/20) * 1rem;
// 	}
// }
