/**
 * Site backgrounds
 */
body {
	background-repeat: no-repeat;
	background-position: 0 0;
}
.home {
	background-image: url('../images/illustrations/bio-volcano-lg-web.jpg');
	background-size: 100% auto;
}
/* introduction */
.postid-1262 {
	background-image: url('/images/illustrations/bio-lavoisier-lg.jpg');
	background-position: 100% 0;
	background-size: 100% auto;
}
/* css box model */
.postid-1495 {
	background-image: url('/images/illustrations/liloctopus-web2.jpg');
	background-position: 100% -1rem;
	background-size: 100% auto;
}
/* rtl */
.postid-478 {
	background-image: url('/images/illustrations/village-of-sekiya-at-sumida-river.jpg');
	background-position: 100% 0;
	background-size: 100% auto;
}
/* normalize */
.postid-1532 {
	background-image: url('/images/illustrations/20-lg.jpg');
}
/* cross browser*/
.postid-282 {
	background-image: url('/images/illustrations/phobia-11-lg.jpg');
}
