* {
	box-sizing: border-box;
}
body {
	margin: 0;
	overflow-y: scroll;
}
.CodesAndNotes {
	box-sizing: content-box;
	max-width: 40rem; // less than 31 will break the manchet
	margin-left: auto;
	margin-right: auto;
	padding-top: $space*2;
	padding-left: 3px;
	padding-right: 3px;
	@media (min-width: $layout-s) {
		padding-left: $space;
		padding-right: $space;
	}
}
.Header {
	padding-left: 0;
	max-width: 34rem;
	margin-bottom: $space*2;
}
.Breadcrumb,
.Main {
	padding-left: $space*2;
	padding-right: $space*2;
}
.Main .Breadcrumb {
	padding-left: 0;
	padding-right: 0;
}
.Main {
	padding-top: $space*2;
	padding-bottom: $space*2;
	position: relative;
	z-index: 1;
}
.Main--bg {
	background-color: $html-background-color;
}
article {
	padding-bottom: $space;
	border-bottom: 2px solid $lightgreen;
	margin-bottom: $space*2;
}
.Footer {
	margin-top: $space;
}
.Aside {
	clear: both;
}

// Styleguide
.Color {
	display: inline-block;
	width: 7em;
	min-height: 7em;
	// line-height: 2em;
	margin: 0 7px 10px 0;
	padding-top: 10px;
	text-align: center;
}
