.SectionMenu {
	@include ff-header;
	counter-reset: section;

	font-size: $large;
	// list-style-type: decimal;

	@media (min-width: $layout-s) {
		padding-left: 25%;
	}

	li::before {
		display: inline-block;
		min-width: 1.5em;
		text-align: right;
		color: $gray;

		counter-increment: section;
		content: "" counter(section) ". ";
	}

	a {
		text-decoration: none;
	}
}

.Breadcrumb {
	@include ff-header;
	font-size: $medium;
	margin-bottom: $space*3;
	list-style: none;

	li {
		display: inline;
		&:before {
			display: none;
		}
	}
	li:not(:last-child):after {
		content: ' ☞ ';
		position: relative;
		top: 0.1em;
		margin-left: 0.1em;
		margin-right: 0.1em;
	}
	a {
		text-decoration: none;
	}
}
