.SectionMenu {
	@include ff-header;
	list-style: none;
	font-size: rem($ml);
	counter-reset: section;
	padding-left: 0;
	margin-left: -0.5rem;
	@media (min-width: $layout-m) {
		font-size: rem($large);
	}

	li::before {
		@include negative-text;
		display: inline-block;
		min-width: 1.5em;
		text-align: right;
		color: $lightgray;
		counter-increment: section;
		content: "" counter(section) ". ";
	}
	a {
		text-decoration: none;
	}
}

.Breadcrumb {
	@include ff-small;
	list-style: none;
	margin-bottom: $space*3;

	li {
		display: inline;
		&:before {
			display: none;
		}
	}
	li:not(:last-child):after {
		content: ' ☞ ';
		position: relative;
		top: 0.03em;
		margin-left: 0.1em;
		margin-right: 0.1em;
	}
	a {
		text-decoration: none;
	}
}
