.Color--black { background-color: $black;}
.Color--secondary { background-color: $secondary-color;}
.Color--green { background-color: $green;}
.Color--lightgreen { background-color: $lightgreen;}
.Color--turquoise { background-color: $turquoise;}
.Color--light { background-color: $light;}
.Color--beige { background-color: $beige;}
.Color--sand { background-color: $sand;}
