$serif: Georgia, serif;

@mixin ff-paragraph(){
	font-family: 'Edita', $serif;
	font-weight: normal;
}
@mixin ff-header(){
	// font-family: 'edita';
	// font-weight: 600;
	font-family: 'eskapade-fraktur', $serif;
	font-weight: normal;
	-webkit-font-smoothing: auto; // otherwise it gets too thin, stay with the default bro
}

html {
	@include ff-paragraph;
	font-size: $base-font-size;
	line-height: ($base-line-height / $base-font-size);
	@media (min-width: 30rem) { font-size: $base-font-size + 1px; }
	@media (min-width: 40rem) { font-size: $base-font-size + 4px; }
	// @media (min-width: 1000px) { font-size: 19px; }
	// @media (min-width: 1400px) { font-size: 20px; }
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}


// Headings
h1,
h2,
h3,
h4 {
	@include ff-header;
	max-width: 90%;
}
h1 {
	font-size: ($x-large/$base-font-size) * 1rem;
	line-height: 1;
	margin-bottom: $space;
	// font-style: italic;
	font-family: 'Lydian';
	font-weight: normal;
}
h2 {
	// @include rhythm($large);
	font-size: ($large/$base-font-size) * 1rem;
	line-height: 1.1;
	margin-top: $space*1;
	// margin-bottom: $space/2;
}
h3 {
	// @include rhythm($medium);
	font-size: ($medium/$base-font-size) * 1rem;
	margin-bottom: $space/2;
}
strong {
	font-weight: 600;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin-left: $space;
	margin-right: $space*2;
	font-style: italic;
}
code,
pre {
	// @include rhythm($small);
	font-size: 16px;
	font-family: 'Triplicate T4c', 'Source Code Pro', Consolas, monospace;
	font-weight: normal;
	// line-height: 1.4;
}
pre {
	line-height: 1.6;
	overflow: auto;
}
abbr,
acronym,
.Caps {
	text-transform: lowercase;
	font-variant: small-caps;
	font-style: normal;
	border-bottom: 0;
	letter-spacing: 0.1em;
}

// Meta text
small,
.Meta {
	font-size: ($small/$base-font-size) * 1rem;
}

.List {
	a {
		text-decoration: none;
	}
}

.Breadcrumb {
	list-style: none;
	padding-left: 0;
	li {
		display: inline;
		&:before {
			display: none;
		}
	}
	li:not(:last-child):after {
		content: ' ☞ ';
		position: relative;
		top: 0.1em;
		margin-left: 0.1em;
		margin-right: 0.1em;
	}
	a {
		text-decoration: none;
	}
}



article {
	img {
		display: block;
		margin-top: $space;
		margin-bottom: $space;
	}
}
// img.AlignLeft {
// 	max-width: 60%;
// 	float: left;
// 	margin-left: -30%;
// 	margin-right: 2rem;
// }
// img.AlignRight {
// 	max-width: 60%;
// 	float: right;
// 	margin-left: 2rem;
// 	margin-right: -30%;
// }
