:root {
	@include questa-sans-light;
	line-height: $root-line-height;

	@media (min-width: $layout-sm) {
		font-size: $root-font-size + 1px;
	}

	@media (min-width: $layout-l) {
		font-size: $root-font-size + 2px;
	}
}

// Headings
h1,
h2,
h3 {
	@include ff-header;
}

h1 {
	font-size: rem($larger);
	line-height: 1;
	margin-top: 1rem;
	margin-bottom: 2rem;
	font-weight: normal;
	font-style: italic;

	@media (min-width: $layout-s) {
		font-size: rem($largerer);
		max-width: 92%;
	}

	@media (min-width: $layout-ml) {
		font-size: rem($largererer);
	}
}

h2 {
	font-size: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h3 {
	// @include rhythm($medium);
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 1rem;

	@media (min-width: $layout-m) {
		font-size: rem($medium);
	}
}

ul {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

p {
	text-indent: 1em;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

b,
strong {
	font-weight: bold;
}

dfn, cite, em, i, blockquote {
	font-style: italic;
}

blockquote {
	margin: 1rem;
	max-width: 80%;
}

// Code
code, kbd, pre, samp {
	@include ff-triplicate;
	font-size: 0.8rem;
}

// Inline code
:not(pre) > code {
	background-color: hsl(60, 90%, 93%);
	padding: 0.1em;
	border-radius: 3px;
}

// Code blocks
pre {
	margin: 2rem 0;
	overflow: auto;
	code {
		display: block;
	}
}

// Small caps.
abbr,
acronym,
.Caps {
	text-transform: none;
	font-variant: small-caps;
}

// Meta text
small,
.Meta {
	@include ff-small;
}

// Images in articles
article img {
	display: block;
	margin-top: $space;
	margin-bottom: $space*2;
}

.List a {
	text-decoration: none;
}

