:root {
	@media (min-width: $layout-sm) {
		font-size: $root-font-size + 1px;
	}
	@media (min-width: $layout-m) {
		// font-size: $root-font-size + 2px;
	}
	@media (min-width: $layout-l) {
		// font-size: $root-font-size + 33px;
	}
}

// Headings
h1 {
	@include ff-header;
}
h1 {
	font-size: rem($larger);
	line-height: 1;
	margin-bottom: $space*2;
	font-weight: normal;
	font-style: italic;
	@media (min-width: $layout-s) {
		font-size: rem($largerer);
		max-width: 92%;
	}
	@media (min-width: $layout-ml) {
		font-size: rem($largererer);
	}
}
h2 {
	@include questa-sans-bold;
	@include ff-header;
	font-size: rem($ml);
}
h3 {
	@include questa-sans-bold;

	// @include rhythm($medium);
	font-size: 1rem;
	@media (min-width: $layout-m) {
		font-size: rem($medium);
	}
	line-height: 1.3;
	margin-bottom: $space/2;
}
strong {
	@include questa-sans-light;
}
dfn, cite, em, i, blockquote {
	@include questa-sans-light-italic;
}
blockquote {
	margin-left: $space;
	margin-right: $space*2;
}
code {
	@include ff-triplicate;
}

/* Inline code */
:not(pre) > code {
	background-color: hsl(0, 0%, 100%);
	padding: 0.1em;
	border-radius: 3px;
}

// code blocks
pre {
	// padding: 1em;
	margin: 2rem 0;
	overflow: auto;
	line-height: 1.1;
}
abbr,
acronym,
.Caps {
	text-transform: none;
	font-variant: small-caps;
}

// Meta text
small,
.Meta {
	@include ff-small;
}

article {
	img {
		display: block;
		margin-top: $space;
		margin-bottom: $space*2;
	}
}
// img.AlignLeft {
// 	max-width: 60%;
// 	float: left;
// 	margin-left: -30%;
// 	margin-right: 2rem;
// }
// img.AlignRight {
// 	max-width: 60%;
// 	float: right;
// 	margin-left: 2rem;
// 	margin-right: -30%;
// }

.List {
	a {
		text-decoration: none;
	}
}
