// Clearfix
@mixin clearfix {
	&:before,
	&:after {
		content: ' '; /* 1 */
		display: table; /* 2 */
	}

	&:after {
		clear: both;
	}
}

// Vertical rhythm
@mixin rhythm($size) {
	font-size: ($size/$base-font-size) * 1rem;
	line-height: ($base-line-height/$size);
}
