{{ partial "header.html" . }}

<main class="Main">
	<ul class="Breadcrumb">
		<li><a href="/">{{ .Site.Title }}</a></li>
		{{ if .Section }}
			<li><a href="/{{ .Section | urlize}}">{{ title .Section}}</a></li>
		{{ end }}
	</ul>

	<article class="Article">
		<h1 class="Article-title">{{ .Title }}</h1>
		{{ .Content }}
		<!-- <p><small>{{ .FuzzyWordCount}} words &rarr; ~{{ .ReadingTime}} minute</small></p> -->
	</article>

	{{ if .PrevInSection }}
		<p class="FixedBottom"><a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a> <span class="Symbol">☞</span></p>
	{{ end }}
</main>
<!-- <aside class="Aside">
	{{ partial "aside.html" . }}
</aside> -->

{{ partial "footer.html" . }}
