@charset "UTF-8";
/*!
	Oskar Rough Mosumgaard. 2014.
*/
/**
 * Sizes
 */
/**
 * Colors
 */
/* line 38, ../../../../../../../../../../../projects/codesandnotes/design/styles/_config.scss */
.Color--black {
  background-color: #121212; }

/* line 39, ../../../../../../../../../../../projects/codesandnotes/design/styles/_config.scss */
.Color--secondary {
  background-color: #f2590d; }

/* line 40, ../../../../../../../../../../../projects/codesandnotes/design/styles/_config.scss */
.Color--green {
  background-color: #267359; }

/* line 41, ../../../../../../../../../../../projects/codesandnotes/design/styles/_config.scss */
.Color--lightgreen {
  background-color: #e0ebe2; }

/* line 42, ../../../../../../../../../../../projects/codesandnotes/design/styles/_config.scss */
.Color--turquoise {
  background-color: #009999; }

/* line 43, ../../../../../../../../../../../projects/codesandnotes/design/styles/_config.scss */
.Color--light {
  background-color: #f9fafa; }

/* line 44, ../../../../../../../../../../../projects/codesandnotes/design/styles/_config.scss */
.Color--beige {
  background-color: #f8f6f2; }

/* line 45, ../../../../../../../../../../../projects/codesandnotes/design/styles/_config.scss */
.Color--sand {
  background-color: #f4ead7; }

/**
 * Vertical rhythm
 */
/**
 * Clearfix
 */
/* line 13, ../../../../../../../../../../../projects/codesandnotes/design/styles/_utilities.scss */
.clear:before,
.clear:after {
  content: '';
  display: table; }

/* line 18, ../../../../../../../../../../../projects/codesandnotes/design/styles/_utilities.scss */
.clear:after {
  clear: both; }

/**
 * Better underlines
 */
/* Global */
/* line 2, ../../../../../../../../../../../projects/codesandnotes/design/styles/_base.scss */
html {
  color: #121212;
  background-color: #f8f6f2;
  background-color: #f4ead7;
  background-color: #f9fafa; }

/* Set a default margin between elements */
/* line 10, ../../../../../../../../../../../projects/codesandnotes/design/styles/_base.scss */
blockquote,
ol,
ul,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
address,
textarea,
hr {
  margin-top: 0;
  margin-bottom: 1rem; }

/* line 30, ../../../../../../../../../../../projects/codesandnotes/design/styles/_base.scss */
figure {
  margin: 0;
  position: relative; }

/* line 34, ../../../../../../../../../../../projects/codesandnotes/design/styles/_base.scss */
hr {
  background-image: url(/images/ornaments/ornament-1.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 58px;
  height: 90px;
  border: 0; }

/* line 42, ../../../../../../../../../../../projects/codesandnotes/design/styles/_base.scss */
table {
  width: 100%; }

/* line 45, ../../../../../../../../../../../projects/codesandnotes/design/styles/_base.scss */
img,
embed,
iframe,
object {
  max-width: 100%; }

/* line 51, ../../../../../../../../../../../projects/codesandnotes/design/styles/_base.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  vertical-align: top; }

/* line 55, ../../../../../../../../../../../projects/codesandnotes/design/styles/_base.scss */
textarea {
  margin: 0;
  min-height: 5.444444444rem;
  max-width: 100%; }

/* line 60, ../../../../../../../../../../../projects/codesandnotes/design/styles/_base.scss */
ol,
ul {
  padding-left: 0;
  list-style: none; }

/* line 65, ../../../../../../../../../../../projects/codesandnotes/design/styles/_base.scss */
li::before {
  content: '↝ '; }

/* Links */
/* line 71, ../../../../../../../../../../../projects/codesandnotes/design/styles/_base.scss */
a,
a:visited {
  color: #267359; }

/* line 75, ../../../../../../../../../../../projects/codesandnotes/design/styles/_base.scss */
a {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f8f6f2), to(#b9b9b9));
  background-image: -webkit-linear-gradient(bottom, #f8f6f2 50%, #b9b9b9 50%);
  background-image: linear-gradient(bottom, #f8f6f2 50%, #b9b9b9 50%);
  background-repeat: repeat-x;
  -webkit-background-size: 1px 1px;
  background-size: 1px 1px;
  background-position: 0 1.0625em;
  text-shadow: 2px 0 #f8f6f2, 0 2px #f8f6f2, -2px 0 #f8f6f2, 0 -2px #f8f6f2; }
  /* line 78, ../../../../../../../../../../../projects/codesandnotes/design/styles/_base.scss */
  a:hover, a:focus, a:active {
    color: #009999;
    color: #f2590d; }

/* Prefix chapter and topic links with a symbol */
/* line 87, ../../../../../../../../../../../projects/codesandnotes/design/styles/_base.scss */
a[rel="category tag"]::before {
  content: '§';
  opacity: 0.5; }

/* line 91, ../../../../../../../../../../../projects/codesandnotes/design/styles/_base.scss */
a[rel="tag"]::before,
a[class^="tag-link-"] {
  content: '#'; }

@font-face {
  font-family: 'alix fb';
  src: url("../fonts/alix-fb.woff") format("woff");
  font-style: normal;
  font-weight: normal; }
/* line 47, ../../../../../../../../../../../projects/codesandnotes/design/styles/_typography.scss */
html {
  font-family: "edita", Charter, Hoefler Text, Cambria, Georgia, Times New Roman, serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  line-height: 1.3; }
  @media (max-width: 30em) {
    /* line 47, ../../../../../../../../../../../projects/codesandnotes/design/styles/_typography.scss */
    html {
      font-size: 16px; } }

/* Headings */
/* line 61, ../../../../../../../../../../../projects/codesandnotes/design/styles/_typography.scss */
h1, h2, h3, h4 {
  font-family: "eskapade-fraktur", Charter, Hoefler Text, Cambria, Georgia, Times New Roman, serif;
  font-weight: normal; }

/* line 65, ../../../../../../../../../../../projects/codesandnotes/design/styles/_typography.scss */
h1 {
  font-size: 2.5rem;
  line-height: 1.04;
  margin-bottom: 1.3rem; }

/* line 70, ../../../../../../../../../../../projects/codesandnotes/design/styles/_typography.scss */
h1 a,
h2 a {
  background-image: none;
  text-shadow: none; }

/* line 74, ../../../../../../../../../../../projects/codesandnotes/design/styles/_typography.scss */
h1 {
  font-style: italic; }

/* line 77, ../../../../../../../../../../../projects/codesandnotes/design/styles/_typography.scss */
h2 {
  font-size: 1.5rem;
  line-height: 1.06667;
  margin-top: 1.3rem;
  margin-bottom: 0.65rem; }

/* line 84, ../../../../../../../../../../../projects/codesandnotes/design/styles/_typography.scss */
h3 {
  font-size: 1.2rem;
  margin-bottom: 0.65rem; }

/* line 100, ../../../../../../../../../../../projects/codesandnotes/design/styles/_typography.scss */
article p + p img {
  margin-top: 2.6rem; }
/* line 103, ../../../../../../../../../../../projects/codesandnotes/design/styles/_typography.scss */
article img {
  display: block;
  margin-top: 2.6rem;
  margin-bottom: 2.6rem; }

/**
 * More styles
 */
/* line 114, ../../../../../../../../../../../projects/codesandnotes/design/styles/_typography.scss */
strong {
  font-weight: 600; }

/* line 117, ../../../../../../../../../../../projects/codesandnotes/design/styles/_typography.scss */
dfn, cite, em, i {
  font-style: italic; }

/* line 120, ../../../../../../../../../../../projects/codesandnotes/design/styles/_typography.scss */
blockquote {
  margin-left: 1.3rem;
  margin-right: 2.6rem;
  font-size: 24px;
  font-style: italic; }

/* line 126, ../../../../../../../../../../../projects/codesandnotes/design/styles/_typography.scss */
code,
pre {
  font-family: 'Alix fb', 'Source Code Pro', Consolas, monospace;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.625; }

/* line 132, ../../../../../../../../../../../projects/codesandnotes/design/styles/_typography.scss */
pre {
  padding: 1.3rem;
  line-height: 1.6;
  overflow: auto;
  background: #f9fafa; }

/* line 138, ../../../../../../../../../../../projects/codesandnotes/design/styles/_typography.scss */
abbr, acronym, .Caps {
  text-transform: lowercase;
  font-variant: small-caps;
  font-style: normal;
  border-bottom: 0;
  letter-spacing: 0.1em; }

/* line 1, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Site layout
 */
/* line 8, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
body {
  float: left;
  width: 100%;
  margin: 0;
  overflow-y: scroll; }
  @media screen and (min-width: 650px) {
    /* line 8, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
    body {
      padding-left: 5%;
      padding-right: 5%; } }
  @media (min-width: 1000px) {
    /* line 8, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
    body {
      padding: 0 2rem 2rem; } }
  @media screen and (min-width: 1100px) {
    /* line 8, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
    body {
      padding-left: 10%;
      padding-right: 10%; } }

/* line 26, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
.Container,
.Manchet,
main {
  max-width: 40rem;
  padding: 2.6rem;
  background-color: #f9fafa; }

/* line 33, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
nav {
  clear: both; }

/* line 36, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
main {
  padding-bottom: 5.2rem; }

/* line 39, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
footer {
  clear: both;
  margin-top: 2.6rem; }

/* line 43, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
aside {
  clear: both; }

/**
 * Page transitions
 */
/* line 51, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
body,
main,
footer {
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms; }

/* line 56, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
.is-routing main,
.is-routing footer {
  opacity: 0.666; }

/**
 * Site backgrounds
 */
/* line 65, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
body {
  background-repeat: no-repeat;
  background-position: 0 0; }

/* line 69, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
.home {
  background-image: url("/images/illustrations/bio-volcano-lg-web.jpg");
  -webkit-background-size: 100% auto;
  background-size: 100% auto; }

/* introduction */
/* line 74, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
.postid-1262 {
  background-image: url("/images/illustrations/bio_lavoisier_lg.jpg");
  background-position: 100% 0;
  -webkit-background-size: 100% auto;
  background-size: 100% auto; }

/* css box model */
/* line 80, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
.postid-1495 {
  background-image: url("/images/illustrations/lilOctopus-web2.jpg");
  background-position: 100% -1rem;
  -webkit-background-size: 100% auto;
  background-size: 100% auto; }

/* RTL */
/* line 86, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
.postid-478 {
  background-image: url("/images/illustrations/Village_of_Sekiya_at_Sumida_river.jpg");
  background-position: 100% 0;
  -webkit-background-size: 100% auto;
  background-size: 100% auto; }

/* Normalize */
/* line 92, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
.postid-1532 {
  background-image: url("/images/illustrations/20_lg.jpg"); }

/* Cross browser*/
/* line 96, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
.postid-282 {
  background-image: url("/images/illustrations/phobia_11_lg.jpg"); }

/**
 * Print styles
 */
@media print {
  /* line 105, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
  html {
    color: black; }

  /* line 108, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
  body {
    /*background-image: none;*/ }

  /* line 111, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
  article a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 114, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
  article a[href^="#"]:after,
  article a[href^="javascript"]:after,
  .Meta a:after {
    content: ""; }

  /* line 119, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
  h2 {
    page-break-after: avoid; }

  /* line 122, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
  article .Topics,
  .Secondary,
  .yarpp-related,
  #comments,
  .post-edit-link {
    display: none; }

  /* line 129, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
  article {
    padding-left: 0;
    padding-right: 0; } }
/**
 * Related posts
 */
/* line 139, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
.yarpp-related {
  float: left;
  clear: both;
  margin: 0 0 1.3rem;
  padding: 1.3rem 2rem 0.65rem;
  background: #e0ebe2; }
  /* line 146, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
  .yarpp-related a {
    text-decoration: none;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#e0ebe2), to(#b9b9b9));
    background-image: -webkit-linear-gradient(bottom, #e0ebe2 50%, #b9b9b9 50%);
    background-image: linear-gradient(bottom, #e0ebe2 50%, #b9b9b9 50%);
    background-repeat: repeat-x;
    -webkit-background-size: 1px 1px;
    background-size: 1px 1px;
    background-position: 0 1.17391em;
    text-shadow: 2px 0 #e0ebe2, 0 2px #e0ebe2, -2px 0 #e0ebe2, 0 -2px #e0ebe2; }

/**
 * Comments
 */
/* line 155, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
.Comments {
  clear: both; }

/* line 158, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
.comment-content a {
  word-wrap: break-word; }

/* line 161, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
.logged-in-as,
.comment-form-comment label,
.form-allowed-tags {
  display: none; }

/* line 166, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
.comment-form-comment {
  margin-bottom: -1rem; }

@media (min-width: 500px) {
  /* line 170, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
  .Comments,
  #disqus_thread {
    margin-left: 2rem;
    clear: both; } }
/**
 * Tag cloud
 */
/* line 181, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
.wp-tag-cloud {
  margin-left: 1rem; }
  @media (min-width: 30rem) {
    /* line 181, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
    .wp-tag-cloud {
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
      column-gap: 2rem; } }
  /* line 187, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
  .wp-tag-cloud .wp-tag-cloud a {
    font-size: 1rem !important; }

/**
 * Meta text
 */
/* line 196, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
.Meta {
  font-size: 0.888888889rem;
  line-height: 1.625; }
  /* line 199, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
  .Meta:last-child {
    margin-top: 1.3rem; }

/**
 * Edit link
 */
/* line 208, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
a.post-edit-link {
  float: right;
  color: red; }

/**
 * Search widget
 */
/* line 217, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
.Search-submit {
  display: none; }

/**
 * Styleguide
 */
/* line 225, ../../../../../../../../../../../projects/codesandnotes/design/styles/_layout.scss */
.Color {
  display: inline-block;
  width: 7em;
  min-height: 7em;
  margin: 0 7px 10px 0;
  padding-top: 10px;
  text-align: center; }

/**
 * Site title and description
 */
/* line 4, ../../../../../../../../../../../projects/codesandnotes/design/styles/_header.scss */
.SiteTitle {
  font-size: 1.8rem;
  line-height: 0.72222;
  padding-top: 2.6rem;
  text-shadow: 2px 2px 0 rgba(0, 100, 100, 0.2); }
  /* line 9, ../../../../../../../../../../../projects/codesandnotes/design/styles/_header.scss */
  .SiteTitle a {
    background-image: none;
    text-shadow: none;
    color: #f2590d; }

/* line 14, ../../../../../../../../../../../projects/codesandnotes/design/styles/_header.scss */
.SiteDescription {
  margin-top: 0;
  font-size: smaller;
  display: none; }

/**
 * Manchet
 */
/* line 24, ../../../../../../../../../../../projects/codesandnotes/design/styles/_header.scss */
.Manchet {
  margin-top: 2.6rem;
  padding: 5.2rem 0 1.3rem;
  text-align: center; }
  @media (min-width: 30em) {
    /* line 24, ../../../../../../../../../../../projects/codesandnotes/design/styles/_header.scss */
    .Manchet {
      margin-top: 5.2rem; } }
  /* line 31, ../../../../../../../../../../../projects/codesandnotes/design/styles/_header.scss */
  .Manchet h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #f2590d;
    text-shadow: 2px 2px 0px #f09b4d; }
    @media (min-width: 30em) {
      /* line 31, ../../../../../../../../../../../projects/codesandnotes/design/styles/_header.scss */
      .Manchet h1 {
        font-size: 4rem; } }
  /* line 42, ../../../../../../../../../../../projects/codesandnotes/design/styles/_header.scss */
  .Manchet h2 {
    font-size: 1.8rem;
    line-height: 0.8;
    margin-bottom: 1.3rem; }
  /* line 48, ../../../../../../../../../../../projects/codesandnotes/design/styles/_header.scss */
  .Manchet h3 span {
    color: #f2590d; }
  /* line 52, ../../../../../../../../../../../projects/codesandnotes/design/styles/_header.scss */
  .Manchet p {
    max-width: 31em;
    margin-left: auto;
    margin-right: auto; }
  /* line 57, ../../../../../../../../../../../projects/codesandnotes/design/styles/_header.scss */
  .Manchet + .Container {
    padding-top: 1.3rem; }

/**
 * Chapters
 */
/* line 4, ../../../../../../../../../../../projects/codesandnotes/design/styles/_toc.scss */
section {
  margin-top: 2.6rem;
  max-width: 50em; }
  /* line 7, ../../../../../../../../../../../projects/codesandnotes/design/styles/_toc.scss */
  section:first-child {
    margin-top: auto; }

/* line 12, ../../../../../../../../../../../projects/codesandnotes/design/styles/_toc.scss */
.Chapter h2::before {
  content: '§ ';
  position: relative; }
/* line 16, ../../../../../../../../../../../projects/codesandnotes/design/styles/_toc.scss */
.Chapter h2 a {
  color: #121212; }
/* line 19, ../../../../../../../../../../../projects/codesandnotes/design/styles/_toc.scss */
.Chapter > p {
  max-width: 30rem; }
/* line 22, ../../../../../../../../../../../projects/codesandnotes/design/styles/_toc.scss */
.Chapter a {
  border-bottom: 0; }

/* Hide chapters when you are on a chapter */
/* line 27, ../../../../../../../../../../../projects/codesandnotes/design/styles/_toc.scss */
.category article .Chapters {
  display: none; }

/**
 * Table of contents
 */
/* line 35, ../../../../../../../../../../../projects/codesandnotes/design/styles/_toc.scss */
.Toc {
  margin-bottom: 0.65rem;
  margin-left: 1.3rem; }
  /* line 40, ../../../../../../../../../../../projects/codesandnotes/design/styles/_toc.scss */
  .Toc li {
    font-family: "eskapade-fraktur", Charter, Hoefler Text, Cambria, Georgia, Times New Roman, serif;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.625; }
    /* line 44, ../../../../../../../../../../../projects/codesandnotes/design/styles/_toc.scss */
    .Toc li:before {
      display: none; }
  /* line 48, ../../../../../../../../../../../projects/codesandnotes/design/styles/_toc.scss */
  .Toc a {
    text-decoration: none;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f8f6f2), to(#b9b9b9));
    background-image: -webkit-linear-gradient(bottom, #f8f6f2 50%, #b9b9b9 50%);
    background-image: linear-gradient(bottom, #f8f6f2 50%, #b9b9b9 50%);
    background-repeat: repeat-x;
    -webkit-background-size: 1px 1px;
    background-size: 1px 1px;
    background-position: 0 1.17391em;
    text-shadow: 2px 0 #f8f6f2, 0 2px #f8f6f2, -2px 0 #f8f6f2, 0 -2px #f8f6f2; }

/**
 * Table of contents link
 */
/* line 66, ../../../../../../../../../../../projects/codesandnotes/design/styles/_toc.scss */
.TocLink {
  position: fixed;
  bottom: -0.5rem;
  right: 1rem;
  display: none; }
  @media (min-width: 980px) {
    /* line 66, ../../../../../../../../../../../projects/codesandnotes/design/styles/_toc.scss */
    .TocLink {
      display: block; } }
  /* line 75, ../../../../../../../../../../../projects/codesandnotes/design/styles/_toc.scss */
  .TocLink a {
    background-image: none;
    text-shadow: none; }

/* Loader */
/* line 2, ../../../../../../../../../../../projects/codesandnotes/design/styles/_loader.scss */
#Loader {
  font-size: 100px;
  width: 1em;
  height: 0.5em;
  position: fixed;
  margin: 0;
  top: 5.75rem;
  left: 2.4rem;
  opacity: 0;
  pointer-events: none; }

/* line 13, ../../../../../../../../../../../projects/codesandnotes/design/styles/_loader.scss */
.is-routing #Loader {
  opacity: 1; }

/* line 17, ../../../../../../../../../../../projects/codesandnotes/design/styles/_loader.scss */
.Stick {
  width: 0.5em;
  height: 6px;
  position: absolute;
  top: 0;
  border: 1px solid transparent; }

/* line 24, ../../../../../../../../../../../projects/codesandnotes/design/styles/_loader.scss */
.Stick--right > span,
.Stick--left > span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: blue; }

/* line 32, ../../../../../../../../../../../projects/codesandnotes/design/styles/_loader.scss */
.Stick--left {
  left: 3px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation: left 1.7s infinite;
  animation: left 1.7s infinite; }

@-webkit-keyframes left {
  /* line 39, ../../../../../../../../../../../projects/codesandnotes/design/styles/_loader.scss */
  from {
    -webkit-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1); }

  /* line 42, ../../../../../../../../../../../projects/codesandnotes/design/styles/_loader.scss */
  50% {
    -webkit-transform: rotate(540deg) scale(1.5);
    transform: rotate(540deg) scale(1.5); }

  /* line 45, ../../../../../../../../../../../projects/codesandnotes/design/styles/_loader.scss */
  to {
    -webkit-transform: rotate(540deg) scale(1);
    transform: rotate(540deg) scale(1); } }

@keyframes left {
  /* line 39, ../../../../../../../../../../../projects/codesandnotes/design/styles/_loader.scss */
  from {
    -webkit-transform: rotate(180deg) scale(1);
    -ms-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1); }

  /* line 42, ../../../../../../../../../../../projects/codesandnotes/design/styles/_loader.scss */
  50% {
    -webkit-transform: rotate(540deg) scale(1.5);
    -ms-transform: rotate(540deg) scale(1.5);
    transform: rotate(540deg) scale(1.5); }

  /* line 45, ../../../../../../../../../../../projects/codesandnotes/design/styles/_loader.scss */
  to {
    -webkit-transform: rotate(540deg) scale(1);
    -ms-transform: rotate(540deg) scale(1);
    transform: rotate(540deg) scale(1); } }
/* line 51, ../../../../../../../../../../../projects/codesandnotes/design/styles/_loader.scss */
.Stick--right {
  right: 3px;
  -webkit-animation: right 1.7s infinite;
  animation: right 1.7s infinite; }

@-webkit-keyframes right {
  /* line 56, ../../../../../../../../../../../projects/codesandnotes/design/styles/_loader.scss */
  from {
    -webkit-transform: rotate(0deg) scale(1.5);
    transform: rotate(0deg) scale(1.5); }

  /* line 59, ../../../../../../../../../../../projects/codesandnotes/design/styles/_loader.scss */
  50% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1); }

  /* line 62, ../../../../../../../../../../../projects/codesandnotes/design/styles/_loader.scss */
  to {
    -webkit-transform: rotate(-360deg) scale(1.5);
    transform: rotate(-360deg) scale(1.5); } }

@keyframes right {
  /* line 56, ../../../../../../../../../../../projects/codesandnotes/design/styles/_loader.scss */
  from {
    -webkit-transform: rotate(0deg) scale(1.5);
    -ms-transform: rotate(0deg) scale(1.5);
    transform: rotate(0deg) scale(1.5); }

  /* line 59, ../../../../../../../../../../../projects/codesandnotes/design/styles/_loader.scss */
  50% {
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1); }

  /* line 62, ../../../../../../../../../../../projects/codesandnotes/design/styles/_loader.scss */
  to {
    -webkit-transform: rotate(-360deg) scale(1.5);
    -ms-transform: rotate(-360deg) scale(1.5);
    transform: rotate(-360deg) scale(1.5); } }
