* {
	box-sizing: border-box;
}

/**
 * Site layout
 */
html {
	background-color: $beige;
	background-color: $sand;
	background-color: $light;
	color: $black;
}
body {
	margin: 0;
	overflow-y: scroll;
	padding-top: 1px; // hack
}
.Container,
.Manchet,
.Header,
.Main,
.Aside,
.Footer {
	box-sizing: content-box;
	max-width: 31rem; // less than 31 will break the manchet
	margin-left: auto;
	margin-right: auto;
	padding-left: $space*3;
	padding-right: $space*3;
}
.Header {
	padding-left: 0;
	max-width: 34rem;
	margin-bottom: $space*2;
}
.Main {
	padding-top: $space;
	padding-bottom: $space*2;
	background-color: $light;
}
article {
	padding-top: $space*2;
	padding-bottom: $space;
	border-bottom: 5px solid $lightgreen;
	margin-bottom: $space*2;
}
.Footer {
	margin-top: $space;
}
.Aside {
	clear: both;
}

/**
 * Page transitions
 */
body,
main,
.Footer {
	transition: opacity 100ms;
}
.is-routing main,
.is-routing .Footer {
	opacity: 0.666;
}





/**
 * Comments
 */
.Comments,
#disqus_thread {
	clear: both;
}
// .comment-content a {
// 	word-wrap: break-word;
// }
// .logged-in-as,
// .comment-form-comment label,
// .form-allowed-tags {
// 	display: none;
// }
// .comment-form-comment {
// 	margin-bottom: 0;
// }


/**
 * Tag cloud
 */
.wp-tag-cloud {
	display: none;
	column-width: 8em;
	// column-gap: $space*2;
	line-height: initial;
	@media (min-width: 30rem) {
		display: block;
	}
	a {
		font-size: 16px !important;
	}
}


/**
 * Meta text
 */
.Meta {
	font-size: ($small/$base-font-size)*1rem;
	// line-height: 1.625;
}


/**
 * Edit link
 */
a.post-edit-link {
	float: right;
	color: red;
}


/**
 * Search widget
 */
.Search-submit {
	display: none;
}


/**
 * Styleguide
 */
.Color {
	display: inline-block;
	width: 7em;
	min-height: 7em;
	// line-height: 2em;
	margin: 0 7px 10px 0;
	padding-top: 10px;
	text-align: center;
}
