{{ partial "header.html" . }}

<!-- <ul class="Breadcrumb">
	<li><a href="{{ .Site.BaseUrl }}">{{ .Site.Title }}</a></li>
	<li>All chapters</li>
</ul> -->

<header class="Manchet">
	<h1>Codes &amp; Notes</h1>
	<h2>A guide to web development that you can trust</h2>
	<h3>by <span class="Author">Oskar Rough Mosumgaard</span></h3>
	<p>A book for anyone wanting to learn more about web development.<br>Whether you are just getting started or need a trustworthy reference, this is it.</p>
	<hr class="Ornament" id="toc">
</header>

<ul class="List">
	{{ range $section, $pages := .Site.Sections }}
		<li><a href="/{{ $section }}/">{{ title $section }}</a></li>
	{{ end }}
</ul>

<!-- {{ range .Data.Pages.GroupBy "Section" }}
	<h3>{{ .Key }}</h3>
	<ul>
		{{ range $page := .Pages }}
			{{ .Render "list-item" }}
		{{ end }}
	</ul>
{{ end }}
 -->
{{ partial "footer.html" . }}
