{{ partial "header.html" . }}

<main class="Main">
	<ul class="Breadcrumb">
		<li><a href="{{ .Site.BaseUrl }}">{{ .Site.Title }}</a></li>
		{{ if .Section }}
			<li><a href="/{{ .Section }}/">{{ title .Section}}</a></li>
		{{ end }}
	</ul>

	<article class="Article">
		<h1 class="Article-title">
			<!-- <a href="{{ .Permalink }}"></a> -->
			{{ .Title }}
		</h1>
		<div class="Article-body">
			{{ .Content }}
		</div>
	</article>

	<aside>
		<!-- {{ if .TableOfContents }}
		<h3>Table of contents</h3>
		<div class="Toc">
			{{ .TableOfContents }}
		</div>
		{{ end }} -->

		<!-- <h3>Next up:</h3> -->
		<ul class="List">
			<!-- {{ if .NextInSection }}
				<li class="next">
					<a href="{{ .NextInSection.Permalink }}">
						<span aria-hidden="true">&larr; Prev</span>
						{{ .NextInSection.Title }}
					</a>
				</li>
			{{ end }} -->
			{{ if .PrevInSection }}
				<li class="previous">
					<span aria-hidden="true">☞</span>
					<a href="{{ .PrevInSection.Permalink }}">
						{{ .PrevInSection.Title }}
					</a>
				</li>
			{{ end }}
			<!-- <li><a href="{{ .Site.BaseUrl }}">All chapters</a></li> -->
		</ul>

		<!-- {{ partial "pager.html" . }} -->

		<!-- <h3>Continue reading <em>{{ .Section}}</em></h3>
		<ul class="List">
			{{ $section := .Section }}
			{{ range first 200 .Site.Pages }}
				{{ if eq .Type $section }}
					{{ .Render "list-item"}}
				{{ end }}
			{{ end }}
		</ul> -->

		{{ if .Params.tags }}
			<h3>Tags</h3>
			{{ $baseurl := .Site.BaseUrl }}
			<ul class="List List--tags">
				{{ range .Params.tags }}
					<li>
						<a href="{{ $baseurl }}/tags/{{ . | urlize }}">
						{{ . }}
						</a>
					</li>
				{{ end }}
			</ul>
		{{ end }}

		<!-- <h3>Related Post</h3>
		<ul class="List">
			{{ $page_link := .Permalink }}
			{{ $tags := .Params.tags }}
			{{ range .Site.Recent }}
				{{ $page := . }}
				{{ $has_common_tags := intersect $tags .Params.tags | len | lt 0 }}
				{{ if and $has_common_tags (ne $page_link $page.Permalink) }}
					<li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
				{{ end }}
			{{ end }}
		</ul> -->
	</aside>
</main>

<!-- <aside class="Aside">
	{{ partial "aside.html" . }}
</aside> -->

{{ partial "footer.html" . }}
