{{ partial "header.html" . }}

<main class="Main">
	<ul class="Breadcrumb">
		<li><a href="/">{{ .Site.Title }}</a></li>
		{{ if .Section }}
			<li><a href="/{{ .Section | urlize}}">{{ title .Section}}</a></li>
		{{ end }}
	</ul>

	<article class="Article">
		<h1 class="Article-title">
			<!-- <a href="{{ .Permalink }}"></a> -->
			{{ .Title }}
		</h1>
		<div class="Article-body">
			<!-- <p>{{ .FuzzyWordCount}} words &rarr; {{ .ReadingTime}}</p> -->
			{{ .Content }}
		</div>
	</article>

	{{ if .PrevInSection }}
		☞ <a href="{{ .PrevInSection.Permalink }}">
			{{ .PrevInSection.Title }}
		</a>
	{{ end }}
</main>

<!-- <aside class="Aside">
	{{ partial "aside.html" . }}
</aside> -->

{{ partial "footer.html" . }}
