* {
	box-sizing: border-box;
}
html {
	font-family: 'Edita', serif;
	font-size: 18px;
	line-height: 1.3;
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
}
.CodesAndNotes {
	display: flex;
	flex-flow: column nowrap;
	padding-top: 2rem;
	min-height: 100vh;
}
.Main {
	flex: 1;
}

pre {
	overflow: auto;
	padding: 1em;
	background-color: #eee;
	word-break: break-word;
}

h1,h2,h3 {
	/*font-family: 'Lydian';*/
	/*font-weight: normal;*/
	margin-bottom: 1rem;
}
h1 {
	font-size: 4rem;
	line-height: 1;
	font-family: 'Lydian';
	font-weight: normal;
	/*font-family: 'eskapade-fraktur', 'Edita', serif;
	font-weight: bold;*/
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1rem;
}

a:link,
a:visited {
	color: hsl(9, 79%, 50%);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.Header {}
.Header h1 {
	font-size: 1rem;
	margin-bottom: -0.5em;
}
.Main {}
.Aside {
	padding-left: 1rem;
	padding-right: 1rem;
}

body {
	padding-left: 1rem;
	padding-right: 1rem;
}
@media (min-width: 40em) {
	body {
		padding-left: 30%;
		padding-left: calc(30% + 2rem);
		padding-right: 2rem;
	}
	.Aside {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 1;
		border-right: 1px solid #eee;
		width: 30%;
		overflow-y: scroll;
	}
}

.Article-title {
	max-width: 11em;
}

.Article p,
.Article ul {
	/*font-family: serif;*/
	/*font-size: 18px;*/
	max-width: 35em;
}
@media (min-width: 30em) {
	.Article p,
	.Article ul {
		font-size: 20px;
	}
}

.Badge {
	background: rgba(204, 204, 204, 0.31);
	border-radius: 0.3em;
	padding: 0em 0.2em;
}

.Breadcrumb {
	list-style: none;
	padding-left: 0;
}
.Breadcrumb li {
	display: inline;
}
.Breadcrumb li:not(:last-child):after {
	content: ' ☞ ';
	position: relative;
	top: 0.1em;
}
