<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Codes &amp; Notes – by Oskar Rough</title>
	<meta name="description" content="Codes and notes is an online book and reference for web development that you can trust">
	<script src="//use.typekit.net/krs2vbw.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" type="text/css" href="styles/codesandnotes.css" />
	</head>
<body>

<h1>Codes &amp; Notes Styleguide</h1>
<p>This page demonstrates all design elements.</p>

<h2>Colors</h2>
<p>Colors used.</p>
<div class="Color Color--black">black</div>
<div class="Color Color--secondary">secondary</div>
<div class="Color Color--turquoise">turquoise</div>
<div class="Color Color--green">green</div>
<div class="Color Color--lightgreen">lightgreen</div>
<div class="Color Color--sand">sand</div>
<div class="Color Color--beige">beige</div>
<div class="Color Color--light">light</div>

<h2>Typography</h2>
<p>List of the different typographic styles.</p>
<h1>This is an h1 headline</h1>
<h2>This is an h2 headline</h2>
<h3>This is an h3 headline</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, harum, non <em>vitae labore</em> libero aperiam unde dignissimos maxime <strong>tempora fuga</strong> possimus modi asperiores corrupti dolore ab quidem maiores praesentium amet!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, harum, non <em>vitae labore</em> libero aperiam unde dignissimos maxime <strong>tempora fuga</strong> possimus modi asperiores corrupti dolore ab quidem maiores praesentium amet!</p>

</body>
</html>
