// Font families
$root-font-family: palatino; // the default font family is `sans-serif`.
$root-font-size: 18px;
$root-line-height: 1.42;
$anchor-text-decoration: none; // because we use our own border
$small-font-size: 80%;

// Breakpoints
$layout-s: 414px;
$layout-m: 740px;
$layout-ml: 1024px;
$layout-l: 1440px;

// Colors
$black: hsl(0, 0%, 7%);
$darkgray: hsl(0, 0%, 30%);
$gray: hsl(0, 0%, 50%);
$lightgray: hsl(0, 0%, 70%);
$sand: hsl(60, 50%, 97%);
$purple:	#1F2DC7;
$red: hsl(5, 100%, 50%);
$primary-color: $red;
// $secondary-color-color: hsl(20, 90%, 50%);
// $blue: #000CCA;
// $turquoise: hsl(180, 100%, 30%);
// $green: hsl(150, 60%, 25%);
// $lightgreen: hsl(130, 21%, 90%);
// $beige: hsl(40, 30%, 96%);
// $light: hsl(180, 9%, 98%);
// $darkblue: hsl(240, 60%, 28%);
// $yellow: hsl(54, 66%, 70%);
// $darkyellow: hsl(66, 25%, 49%);

// $root-text-rendering: ; // the default text-rendering is `optimizeLegibility`.
$html-background-color: $sand; // the default background color is `#FFFFFF`.
$html-color: $black; // the default text color is `#000000`.
