/* Global */

* {
	box-sizing: border-box;
}

html {
	color: $black;
	background-color: rgb(249,247,243);
	background-color: $sand;
	background: rgb(249,250,250);
}

/* Set a default margin between elements */
blockquote,
ol,
ul,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
fieldset,
table,
address
textarea,
hr {
	margin-top: $space;
	margin-bottom: $space;
}
figure {
	position: relative;
}
figure img {
	vertical-align: top;
}
hr {
	background-image: url(/images/ornaments/ornament-1.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 58px;
	height: 90px;
	border: 0;
}
figure {
	margin: 0;
}
table {
	width: 100%;
}
img,
embed,
iframe,
object {
	max-width: 100%;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
}
textarea {
	margin: 0;
	min-height: 5.444444444rem;
	max-width: 100%;
}
ol,
ul {
	padding-left: 0;
	list-style: none;
}
li::before {
	content: '↝ ';
}

/* Links */
a,
a:visited {
	color: #000;
	color: rgb(42, 121, 92);
	text-decoration: none;
	border-bottom: 1px solid;
}
a:hover,
a:focus,
a:active {
	color: rgb(0,160,160);
}
a img {
	border: 0;
}

/* Prefix chapter and topic links with a symbol */
a[rel="category tag"]::before {
	content: '§';
	opacity: 0.5;
}
a[rel="tag"]::before,
a[class^="tag-link-"] {
	content: '#';
}

/* Clearing */
.clear:before,
.clear:after {
	content: '';
	display: table;
}
.clear:after {
	clear: both;
}
