/* Global */

* {
	box-sizing: border-box;
}

html {
	color: $black;
	background-color: $beige;
	background-color: $sand;
	background-color: $light;

}

/* Set a default margin between elements */
blockquote,
ol,
ul,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
fieldset,
table,
address
textarea,
hr {
	margin-top: $space;
	margin-bottom: $space;
}
figure {
	position: relative;
}
figure img {
	vertical-align: top;
}
hr {
	background-image: url(/images/ornaments/ornament-1.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 58px;
	height: 90px;
	border: 0;
}
figure {
	margin: 0;
}
table {
	width: 100%;
}
img,
embed,
iframe,
object {
	max-width: 100%;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
}
textarea {
	margin: 0;
	min-height: 5.444444444rem;
	max-width: 100%;
}
ol,
ul {
	padding-left: 0;
	list-style: none;
}
li::before {
	content: '↝ ';
}




// $text-color:  $black;
$bg-size: 1px;
$stroke-size: 2px;

@mixin underline($bg-color: $beige, $font-size: 1.0625em, $underline-color: $gray) {
	text-decoration: none;
	background-image:
		linear-gradient(bottom, $bg-color 50%, $underline-color 50%);
	background-repeat: repeat-x;
	background-size: $bg-size $bg-size;
	background-position: 0 $font-size;
	// color: $text-color;
	text-shadow: $stroke-size 0 $bg-color,
				 0 $stroke-size $bg-color,
				 -#{$stroke-size} 0 $bg-color,
				 0 -#{$stroke-size} $bg-color;
}

@mixin remove-underline() {
	background-image: none;
	text-shadow: none;
}


/* Links */
a,
a:visited {
	color: $green;
}
a {
	text-decoration: none;
	// border-bottom: 1px solid;
	@include underline();

	&:hover,
	&:focus,
	&:active {
		color: $turquoise;
		color: $secondary;
	}
	img {
		border: 0;
	}
}

/* Prefix chapter and topic links with a symbol */
a[rel="category tag"]::before {
	content: '§';
	opacity: 0.5;
}
a[rel="tag"]::before,
a[class^="tag-link-"] {
	content: '#';
}

/* Clearing */
.clear:before,
.clear:after {
	content: '';
	display: table;
}
.clear:after {
	clear: both;
}
