$black: hsl(0, 0%, 7%);
$secondary: hsl(20, 90%, 50%);
$turquoise: hsl(180, 100%, 30%);
$green: hsl(160, 50%, 30%);
$lightgreen: hsl(130, 21%, 90%);
$sand: hsl(40, 58%, 90%);
$beige: hsl(40, 30%, 96%);
$light: hsl(180, 9%, 98%);
$gray: #b9b9b9;

$blue: hsl(240, 100%, 50%);
$purple: hsl(300, 100%, 16%);
$blue: hsl(187, 66%, 57%);
$dark: hsl(312, 56%, 2%);
$red: hsl(6, 66%, 50%);
$yellow: hsl(54, 66%, 70%);
$darkyellow: hsl(66, 25%, 49%);

$base-line-height: 26;
$small: 16;
$base-font-size: 18;
$medium: 23;
$large: 26;
$larger: 36;
$x-large: 47;

// $space: ($base-line-height/$base-font-size) * 1rem;
$space: 1.444444444rem;

@mixin rhythm($size) {
	font-size: ($size/$base-font-size) * 1rem;
	line-height: ($base-line-height/$size);
}


.Color--black { background-color: $black;}
.Color--secondary { background-color: $secondary;}
.Color--green { background-color: $green;}
.Color--lightgreen { background-color: $lightgreen;}
.Color--turquoise { background-color: $turquoise;}
.Color--light { background-color: $light;}
.Color--beige { background-color: $beige;}
.Color--sand { background-color: $sand;}
