/**
 * Site title and description
 */
.SiteTitle {
	@include rhythm($larger);
	padding-top: $space*2;
	text-shadow: 2px 2px 0 rgba(0,100,100,0.2);

	a {
		@include remove-underline;
		color: $secondary;
	}
}
.SiteDescription {
	margin-top: 0;
	font-size: smaller;
	display: none;
}


/**
 * Manchet
 */
.Manchet {
	margin-top: $space*6;
	margin-left: $space;
	margin-right: $space;
	padding-top: $space*2;
	padding-bottom: $space;
	text-align: center;
	background-color: $darkblue;
	@media (min-width: 30em) {
		padding-top: $space*4;
		margin-left: 0;
		margin-right: 0;
	}
	h1 {
		font-size: 3rem;
		margin-bottom: $space/2;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $secondary;
		// text-shadow: 2px 2px 0px rgba(240, 155, 77, 1);
		text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.43);
		@media (min-width: 30em) {
			font-size: 4rem;
		}
	}
	h2 {
		margin-top: 0;
	}
	h3 {
		span {
			color: $secondary;
		}
	}
	p {
		max-width: 31em;
		margin-left: auto;
		margin-right: auto;
	}
	hr {
		margin-bottom: 0;
	}
	& + .Container {
		padding-top: $space;
	}


	color: #fff;
}
