/**
 * Site title and description
 */
.Header-title {
	@include rhythm($larger);
	padding-top: $space*2;
	padding-left: $space;
	padding-right: $space;
	@media (min-width: 30em) {
		padding-left: 0;
		padding-right: 0;
	}
	text-shadow: 2px 2px 0 rgba(0,100,100,0.2);

	a {
		@include remove-underline;
		color: $secondary;
	}
}
.Header-description {
	margin-top: 0;
	font-size: smaller;
	display: none;
}


/**
 * Manchet
 */
.Manchet {
	margin-top: $space*6;
	padding-top: $space*2;
	padding-bottom: $space*2;
	text-align: center;

	// background-color: $light;
	background-color: hsl(41, 2%, 12%);
	color: #fff;

	h1 {
		margin-bottom: $space/2;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: $secondary;
		text-shadow: 2px 2px 0px hsl(190, 20%, 61%);
		@media (min-width: 30em) {
			font-size: 4rem;
		}
	}
	h2 {
		margin-top: 0;
	}
	h3 {
		span {
			color: $secondary;
		}
	}
	// p {
	// 	max-width: 31em;
	// 	margin-left: auto;
	// 	margin-right: auto;
	// }
	hr {
		margin-bottom: 0;
	}
	& + .Container {
		padding-top: $space;
	}
}
