* {
	box-sizing: border-box;
}

/**
 * Site layout
 */
body {
	float: left;
	width: 100%;
	margin: 0;
	overflow-y: scroll;

	@media screen and (min-width: 30rem) {
		padding-left: 5%;
		padding-right: 5%;
	}
	@media (min-width: 1000px) {
		padding: 0 2rem 2rem;
	}
	@media screen and (min-width: 1100px) {
		padding-left: 10%;
		padding-right: 10%;
	}
}
.Container,
.Manchet,
.Main,
.Aside,
.SiteFooter {
	max-width: 40rem;
	padding-left: $space;
	padding-right: $space;
	@media screen and (min-width: 40rem) {
		padding-left: $space*2;
		padding-right: $space*2;
	}
}
.Main {
	background-color: $light;
	padding-bottom: $space * 2;
}
article {
	padding-top: $space*3;
}
.SiteFooter {
	margin-top: $space;
}
.Aside {
	clear: both;
}

/**
 * Page transitions
 */
body,
main,
.SiteFooter {
	transition: opacity 100ms;
}
.is-routing main,
.is-routing .SiteFooter {
	opacity: 0.666;
}


/**
 * Site backgrounds
 */
body {
	background-repeat: no-repeat;
	background-position: 0 0;
}
.home {
	background-image: url('../images/illustrations/bio-volcano-lg-web.jpg');
	background-size: 100% auto;
}
/* introduction */
.postid-1262 {
	background-image: url('/images/illustrations/bio_lavoisier_lg.jpg');
	background-position: 100% 0;
	background-size: 100% auto;
}
/* css box model */
.postid-1495 {
	background-image: url('/images/illustrations/lilOctopus-web2.jpg');
	background-position: 100% -1rem;
	background-size: 100% auto;
}
/* RTL */
.postid-478 {
	background-image: url('/images/illustrations/Village_of_Sekiya_at_Sumida_river.jpg');
	background-position: 100% 0;
	background-size: 100% auto;
}
/* Normalize */
.postid-1532 {
	background-image: url('/images/illustrations/20_lg.jpg');
}
/* Cross browser*/
.postid-282 {
	background-image: url('/images/illustrations/phobia_11_lg.jpg');
}


/**
 * Comments
 */
.Comments {
	clear: both;
}
.comment-content a {
	word-wrap: break-word;
}
.logged-in-as,
.comment-form-comment label,
.form-allowed-tags {
	display: none;
}
.comment-form-comment {
	margin-bottom: 0;
}
@media (min-width: 500px) {
	.Comments,
	#disqus_thread {
		margin-left: $space*2;
		clear: both;
	}
}


/**
 * Tag cloud
 */
.wp-tag-cloud {
	display: none;
	@media (min-width: 30rem) {
		display: block;
		margin-left: $space;
		columns: 2;
		column-gap: $space*2;
	}
	a {
		font-size: 1rem !important;
	}
}


/**
 * Meta text
 */
.Meta {
	font-size: ($small/$base-font-size)*1rem;
	// line-height: 1.625;
}


/**
 * Edit link
 */
a.post-edit-link {
	float: right;
	color: red;
}


/**
 * Search widget
 */
.Search-submit {
	display: none;
}


/**
 * Styleguide
 */
.Color {
	display: inline-block;
	width: 7em;
	min-height: 7em;
	// line-height: 2em;
	margin: 0 7px 10px 0;
	padding-top: 10px;
	text-align: center;
}
