/**
 * Chapters
 */
main {
	counter-reset: section;
}
.Chapter {
	h2::before {
		// content: '§ ';
		counter-increment: section;
		content: "" counter(section) ". "; // Puts "1. " in front of every chapter title
		color: $lightgray;
	}
	h2 a {
		color: $black;
	}
	> p {
		// max-width: 30rem;
		font-size: (18/20)*1rem;
	}
}
/* Hide chapters when you are on a chapter */
.category .Meta-chapters {
	display: none;
}


/**
 * Table of contents
 */
.Toc,
.wp-tag-cloud {
	li::before {
		color: $lightgray;
		transition: color 100ms;

		@media (max-width: 30rem) {
			display: none;
		}
	}
	li:hover:before {
		color: $black;
	}

	// &.is-hidden {
	// 	max-height: 2.4rem;
	// 	overflow: hidden;
	// 	border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
	// 	background-image: linear-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.1));
	// 	background-position: bottom left;
	// 	background-repeat: no-repeat;
	// 	background-size: 100% 0.5em;
	// }
}

.Topics {
	margin-top: 2rem;
	border-top: 5px solid $lightgreen;
}


/**
 * Table of contents link
 */
.TocLink {
	position: fixed;
	bottom: -0.5rem;
	right: 1rem;
	display: none;
	@media (min-width: 980px) {
		display: block;
	}

	a {
		@include remove-underline;
	}
}


/**
 * Related posts
 */
.yarpp-related {
	margin-bottom: $space;
	// overflow: auto;
	// float: left;
	// clear: both;
	// padding: 0 $space;
	// background: $lightgreen;
	// a {
	// 	@include underline($bg-color: $lightgreen, $font-size: 1.173913043em);
	// }
}
.yarpp-related-none {
	display: none;
}
