html {
	font-size: ($base-font-size * 1px);
	// line-height: ($base-line-height/$base-font-size);
	line-height: 1.444444444;
	@include ff-paragraph;
	text-rendering: optimizeLegibility;
	/*-webkit-font-smoothing: antialiased;*/
}

@media (max-width: 500px) { html { font-size: 17px; } }
@media (min-width: 1000px) { html { font-size: 19px; } }
@media (min-width: 1400px) { html { font-size: 20px; } }

/* Headings */
h1, h2, h3, h4,
.Toc {
	@include ff-header;
}

h1,
.Chapter h2 {
	font-size: ($x-large/$base-font-size) * 1rem;
	line-height: ($base-line-height*2)/$x-large;
	margin-bottom: $space;
	@include ff-title;
	font-style: italic;
}

h2 {
	@include rhythm($large);
}
h3 {
	@include rhythm($medium);
}
article p + h2,
article blockquote + h2 {
	margin-top: $space;
	margin-bottom: $space/-2;
}
article p + p {
	margin-top: $space * -1;
	text-indent: $space;
}
article p + p img {
	margin-top: 3rem;
}
article img {
	display: block;
	margin-top: 2rem;
	margin-bottom: 2rem;
}


/* Chapters */
section {
	margin-top: $space * 2;
	max-width: 50em;
}
section:first-child {
	margin-top: auto;
}
.Chapter h2 a {
	color: $black;
}
.Chapter > p {
	max-width: 30rem;
}
.Chapter h2::before {
	content: '§ ';
	position: relative;
}
.Chapter a {
	border-bottom: 0;
}


/* Table of contents */
.Toc {
	font-size: ($medium/$base-font-size) * 1rem;
	line-height: ($base-line-height*1.5)/$medium;
	margin-bottom: $space/2;
	margin-left: 1rem;
}
.Toc li::before {
	display: none;
}
@media screen and (min-width: 34rem) {
	.Toc {
		column-width: 20rem;
		column-gap: 2rem;
	}
	.Toc h1,
	.Toc p {
		column-span: all;
	}
}

dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin-left: $space;
	margin-right: $space*2;
	font-size: 1.25rem;
	line-height: 1.2;
	font-style: italic;
}
code,
pre {
	font-family: 'Source Code Pro', Consolas, monospace;
	font-weight: normal;
	background: rgb(249,250,250);
	@include rhythm($small);
}
pre {
	line-height: 1.6;
	overflow: auto;
	padding: 1rem;
}
abbr, acronym, .Caps {
	text-transform: lowercase;
	font-variant: small-caps;
	font-style: normal;
	border-bottom: 0;
	letter-spacing: 0.1em;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
