// font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Bodoni MT", "Times New Roman", serif;*/

@font-face {
	font-family: 'alix fb';
	src: url('../fonts/alix-fb.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}
// @font-face {
// 	font-family: 'alix fb bold';
// 	src: url('../fonts/alix-fb-bold.woff') format('woff');
// 	font-style: normal;
// 	font-weight: bold;
// }
// @font-face {
// 	font-family: 'alix fb italic';
// 	src: url('../fonts/alix-fb-italic.woff') format('woff');
// 	font-style: italic;
// 	font-weight: normal;
// }
// @font-face {
// 	font-family: 'alix fb bolditalic';
// 	src: url('../fonts/alix-fb-bolditalic.woff') format('woff');
// 	font-style: italic;
// 	font-weight: bold;
// }

$serif: Charter, Hoefler Text, Cambria, Georgia, Times New Roman, serif;

@mixin ff-paragraph(){
	font-family: 'edita', $serif;
	font-weight: normal;
}
@mixin ff-header(){
	// font-family: 'edita';
	// font-weight: 600;
	font-family: 'eskapade-fraktur', $serif;
	font-weight: normal;
}
@mixin ff-title(){
	font-family: 'eskapade-fraktur', $serif;
	font-weight: 400;
	font-style: italic;
}


html {
	@include ff-paragraph;
	font-size: $base-font-size * 1px;
	line-height: ($base-line-height/$base-font-size);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	// @media (max-width: 500px) { font-size: 17px; }
	// @media (min-width: 1000px) { font-size: 19px; }
	// @media (min-width: 1400px) { font-size: 20px; }
}


/* Headings */
h1, h2, h3, h4 {
	@include ff-header;
}

h1 {
	font-size: ($x-large/$base-font-size) * 1rem;
	line-height: ($base-line-height*2)/$x-large;
	margin-bottom: $space;
}
h1 a,
h2 a {
	@include remove-underline;
}
h1 {
	font-style: italic;
}
h2 {
	// @include rhythm($large);
	font-size: ($large/$base-font-size)*1rem;
	line-height: (32/$large);
	margin-top: $space*1.5;
	margin-bottom: $space/2;
}
h3 {
	// @include rhythm($medium);
	font-size: ($medium/$base-font-size)*1rem;
	margin-bottom: $space/2;
}
article {
	p + h2,
	ul + h2,
	blockquote + h2 {
		// margin-top: $space * 1.5;
		// margin-bottom: $space/-2;
	}
	p + p {
		// margin-top: $space * -1;
		// text-indent: $space/1.5;
	}
	p + p img {
		margin-top: $space*2;
	}
	img {
		display: block;
		margin-top: $space*2;
		margin-bottom: $space*2;
	}
}


/**
 * More styles
 */
strong {
	font-weight: 600;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin-left: $space;
	margin-right: $space*2;
	font-size: 24px;
	font-style: italic;
}
code,
pre {
	font-family: 'Alix fb', 'Source Code Pro', Consolas, monospace;
	font-weight: normal;
	@include rhythm($small);
}
pre {
	padding: $space;
	line-height: 1.6;
	overflow: auto;
	background: rgb(249,250,250);
}
abbr, acronym, .Caps {
	text-transform: lowercase;
	font-variant: small-caps;
	font-style: normal;
	border-bottom: 0;
	letter-spacing: 0.1em;
}


/**
 * Chapters
 */
section {
	margin-top: $space * 2;
	max-width: 50em;
	&:first-child {
		margin-top: auto;
	}
}
.Chapter {
	h2::before {
		content: '§ ';
		position: relative;
	}
	h2 a {
		color: $black;
	}
	> p {
		max-width: 30rem;
	}
	a {
		border-bottom: 0;
	}
}


/**
 * Table of contents
 */
.Toc {

	margin-bottom: $space/2;
	margin-left: $space;

	li {
		@include ff-header;
		font-size: ($medium/$base-font-size) * 1rem;
		line-height: ($base-line-height*1.5)/$medium;
		&:before {
			display: none;
		}
	}
	a {
		@include underline($font-size: 1.173913043em);
	}
	// @media screen and (min-width: 34rem) {
	// 	column-width: 20rem;
	// 	column-gap: 2rem;

	// 	h1,
	// 	p {
	// 		column-span: all;
	// 	}
	// }
}
