/**
 * Vertical rhythm
 */
@mixin rhythm($size) {
	font-size: ($size/$base-font-size) * 1rem;
	line-height: ($base-line-height/$size);
}


/**
 * Clearfix
 */
.clear:before,
.clear:after {
	content: '';
	display: table;
}
.clear:after {
	clear: both;
}



/**
 * Better underlines
 */

$bg-size: 1px;
$stroke-size: 2px;

@mixin underline($bg-color: $beige, $font-size: 1.0625em, $underline-color: $gray) {
	text-decoration: none;
	background-image:
		linear-gradient(bottom, $bg-color 50%, $underline-color 50%);
	background-repeat: repeat-x;
	background-size: $bg-size $bg-size;
	background-position: 0 $font-size;
	text-shadow: $stroke-size 0 $bg-color,
				 0 $stroke-size $bg-color,
				 -#{$stroke-size} 0 $bg-color,
				 0 -#{$stroke-size} $bg-color;
}

@mixin remove-underline() {
	background-image: none;
	text-shadow: none;
}
