/*!
	Oskar Rough Mosumgaard. 2014.
*/

@import 'components/config';
@import 'components/utilities';
@import 'components/base';

// @import 'components/typography';
// @import 'components/typography-modernscale';
// @import 'components/layout';
// @import 'components/layout-backgrounds';
// @import 'components/header';
// @import 'components/toc';
// @import 'components/print';
// @import 'components/loader';

main {
	margin-left: 180px;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 160px;
}
