@charset "UTF-8";
/*!
	Oskar Rough Mosumgaard. 2014.
*/
/**
 * Sizes
 */
/**
 * Colors
 */
.Color--black {
  background-color: #121212; }

.Color--secondary {
  background-color: #f2590d; }

.Color--green {
  background-color: #267359; }

.Color--lightgreen {
  background-color: #e0ebe2; }

.Color--turquoise {
  background-color: #009999; }

.Color--light {
  background-color: #f9fafa; }

.Color--beige {
  background-color: #f8f6f2; }

.Color--sand {
  background-color: #f4ead7; }

/**
 * Vertical rhythm
 */
/**
 * Clearfix
 */
.clear:before,
.clear:after {
  content: '';
  display: table; }

.clear:after {
  clear: both; }

/**
 * Better underlines
 */
/* Global */
html {
  color: #121212;
  background-color: #f8f6f2;
  background-color: #f4ead7;
  background-color: #f9fafa; }

/* Set a default margin between elements */
blockquote,
ol,
ul,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
address,
textarea,
hr {
  margin-top: 0;
  margin-bottom: 1rem; }

figure {
  margin: 0;
  position: relative; }

hr {
  background-image: url(/images/ornaments/ornament-1.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 58px;
  height: 90px;
  border: 0; }

table {
  width: 100%; }

img,
embed,
iframe,
object {
  max-width: 100%; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  vertical-align: top; }

textarea {
  margin: 0;
  min-height: 5.444444444rem;
  max-width: 100%; }

ol,
ul {
  padding-left: 0;
  list-style: none; }

li::before {
  content: '↝ '; }

/* Links */
a,
a:visited {
  color: #267359; }

a {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f8f6f2), to(#b9b9b9));
  background-image: -webkit-linear-gradient(bottom, #f8f6f2 50%, #b9b9b9 50%);
  background-image: linear-gradient(bottom, #f8f6f2 50%, #b9b9b9 50%);
  background-repeat: repeat-x;
  -webkit-background-size: 1px 1px;
  background-size: 1px 1px;
  background-position: 0 1.0625em;
  text-shadow: 2px 0 #f8f6f2, 0 2px #f8f6f2, -2px 0 #f8f6f2, 0 -2px #f8f6f2; }
  a:hover, a:focus, a:active {
    color: #009999;
    color: #f2590d; }

/* Prefix chapter and topic links with a symbol */
a[rel="category tag"]::before {
  content: '§';
  opacity: 0.5; }

a[rel="tag"]::before,
a[class^="tag-link-"] {
  content: '#'; }

@font-face {
  font-family: 'alix fb';
  src: url("../fonts/alix-fb.woff") format("woff");
  font-style: normal;
  font-weight: normal; }
html {
  font-family: "edita", Charter, Hoefler Text, Cambria, Georgia, Times New Roman, serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.3;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

/* Headings */
h1, h2, h3, h4 {
  font-family: "eskapade-fraktur", Charter, Hoefler Text, Cambria, Georgia, Times New Roman, serif;
  font-weight: normal; }

h1 {
  font-size: 2.5rem;
  line-height: 1.04;
  margin-bottom: 1.3rem; }

h1 a,
h2 a {
  background-image: none;
  text-shadow: none; }

h1 {
  font-style: italic; }

h2 {
  font-size: 1.5rem;
  line-height: 1.06667;
  margin-top: 1.95rem;
  margin-bottom: 0.65rem; }

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.65rem; }

article p + p img {
  margin-top: 2.6rem; }
article img {
  display: block;
  margin-top: 2.6rem;
  margin-bottom: 2.6rem; }

/**
 * More styles
 */
strong {
  font-weight: 600; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin-left: 1.3rem;
  margin-right: 2.6rem;
  font-size: 24px;
  font-style: italic; }

code,
pre {
  font-family: 'Alix fb', 'Source Code Pro', Consolas, monospace;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.625; }

pre {
  padding: 1.3rem;
  line-height: 1.6;
  overflow: auto;
  background: #f9fafa; }

abbr, acronym, .Caps {
  text-transform: lowercase;
  font-variant: small-caps;
  font-style: normal;
  border-bottom: 0;
  letter-spacing: 0.1em; }

/**
 * Chapters
 */
section {
  margin-top: 2.6rem;
  max-width: 50em; }
  section:first-child {
    margin-top: auto; }

.Chapter h2::before {
  content: '§ ';
  position: relative; }
.Chapter h2 a {
  color: #121212; }
.Chapter > p {
  max-width: 30rem; }
.Chapter a {
  border-bottom: 0; }

/**
 * Table of contents
 */
.Toc {
  margin-bottom: 0.65rem;
  margin-left: 1.3rem; }
  .Toc li {
    font-family: "eskapade-fraktur", Charter, Hoefler Text, Cambria, Georgia, Times New Roman, serif;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.625; }
    .Toc li:before {
      display: none; }
  .Toc a {
    text-decoration: none;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f8f6f2), to(#b9b9b9));
    background-image: -webkit-linear-gradient(bottom, #f8f6f2 50%, #b9b9b9 50%);
    background-image: linear-gradient(bottom, #f8f6f2 50%, #b9b9b9 50%);
    background-repeat: repeat-x;
    -webkit-background-size: 1px 1px;
    background-size: 1px 1px;
    background-position: 0 1.17391em;
    text-shadow: 2px 0 #f8f6f2, 0 2px #f8f6f2, -2px 0 #f8f6f2, 0 -2px #f8f6f2; }

/**
 * Site title and description
 */
.SiteTitle {
  font-size: 1.8rem;
  line-height: 0.72222;
  padding-top: 2.6rem;
  text-shadow: 2px 2px 0 rgba(0, 100, 100, 0.2); }
  .SiteTitle a {
    background-image: none;
    text-shadow: none;
    color: #f2590d; }

.SiteDescription {
  margin-top: 0;
  font-size: smaller;
  display: none; }

/**
 * Manchet
 */
.Manchet {
  margin-top: 2.6rem;
  padding: 5.2rem 0 1.3rem;
  text-align: center; }
  @media (min-width: 760px) {
    .Manchet {
      margin-top: 5.2rem; } }
  .Manchet h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #f2590d;
    text-shadow: 2px 2px 0px #f09b4d;
    -webkit-transform: rotateZ(-3deg);
    -ms-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg); }
    @media (min-width: 760px) {
      .Manchet h1 {
        font-size: 4rem; } }
  .Manchet h2 {
    font-size: 1.8rem;
    line-height: 0.8;
    margin-bottom: 1.3rem; }
  .Manchet h3 span {
    color: #f2590d; }
  .Manchet p {
    max-width: 31em;
    margin-left: auto;
    margin-right: auto; }
  .Manchet + .Container {
    padding-top: 1.3rem; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Site layout
 */
body {
  float: left;
  width: 100%;
  margin: 0;
  overflow-y: scroll; }
  @media screen and (min-width: 650px) {
    body {
      padding-left: 5%;
      padding-right: 5%; } }
  @media (min-width: 1000px) {
    body {
      padding: 0 2rem 2rem; } }
  @media screen and (min-width: 1100px) {
    body {
      padding-left: 10%;
      padding-right: 10%; } }

.Container,
article,
.Manchet {
  max-width: 40rem;
  background-color: #f8f6f2;
  background-color: #f9fafa;
  padding: 2.6rem; }
  @media (min-width: 56.25rem) {
    .Container,
    article,
    .Manchet {
      padding-left: 5.2rem;
      padding-right: 5.2rem;
      padding-bottom: 5.2rem;
      max-width: 44rem; } }

/* Hide chapters when you are on a chapter */
.category article .Chapters {
  display: none; }

nav {
  clear: both; }

footer {
  clear: both;
  margin-top: 2.6rem; }

aside {
  clear: both; }

/**
 * Page transitions
 */
body,
main,
footer {
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms; }

.is-routing main,
.is-routing footer {
  opacity: 0.666; }

/**
 * Site backgrounds
 */
body {
  background-repeat: no-repeat;
  background-position: 0 0; }

.home {
  background-image: url("/images/illustrations/bio-volcano-lg-web.jpg");
  -webkit-background-size: 100% auto;
  background-size: 100% auto; }

/* introduction */
.postid-1262 {
  background-image: url("/images/illustrations/bio_lavoisier_lg.jpg");
  background-position: 100% 0;
  -webkit-background-size: 100% auto;
  background-size: 100% auto; }

/* css box model */
.postid-1495 {
  background-image: url("/images/illustrations/lilOctopus-web2.jpg");
  background-position: 100% -1rem;
  -webkit-background-size: 100% auto;
  background-size: 100% auto; }

/* RTL */
.postid-478 {
  background-image: url("/images/illustrations/Village_of_Sekiya_at_Sumida_river.jpg");
  background-position: 100% 0;
  -webkit-background-size: 100% auto;
  background-size: 100% auto; }

/* Normalize */
.postid-1532 {
  background-image: url("/images/illustrations/20_lg.jpg"); }

/* Cross browser*/
.postid-282 {
  background-image: url("/images/illustrations/phobia_11_lg.jpg"); }

/**
 * Print styles
 */
@media print {
  html {
    color: black; }

  body {
    /*background-image: none;*/ }

  article a[href]:after {
    content: " (" attr(href) ")"; }

  article a[href^="#"]:after,
  article a[href^="javascript"]:after,
  .Meta a:after {
    content: ""; }

  h2 {
    page-break-after: avoid; }

  article .Topics,
  .Secondary,
  .yarpp-related,
  #comments,
  .post-edit-link {
    display: none; }

  article {
    padding-left: 0;
    padding-right: 0; } }
/**
 * Related posts
 */
.yarpp-related {
  float: left;
  clear: both;
  margin: 0 0 1.3rem;
  padding: 1.3rem 2rem 0.65rem;
  background: #e0ebe2; }
  .yarpp-related a {
    text-decoration: none;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#e0ebe2), to(#b9b9b9));
    background-image: -webkit-linear-gradient(bottom, #e0ebe2 50%, #b9b9b9 50%);
    background-image: linear-gradient(bottom, #e0ebe2 50%, #b9b9b9 50%);
    background-repeat: repeat-x;
    -webkit-background-size: 1px 1px;
    background-size: 1px 1px;
    background-position: 0 1.17391em;
    text-shadow: 2px 0 #e0ebe2, 0 2px #e0ebe2, -2px 0 #e0ebe2, 0 -2px #e0ebe2; }

/**
 * Comments
 */
.Comments {
  clear: both; }

.comment-content a {
  word-wrap: break-word; }

.logged-in-as,
.comment-form-comment label,
.form-allowed-tags {
  display: none; }

.comment-form-comment {
  margin-bottom: -1rem; }

@media (min-width: 500px) {
  .Comments,
  #disqus_thread {
    margin-left: 2rem;
    clear: both; } }
/**
 * Search widget
 */
.Search-submit {
  display: none; }

/**
 * Tag cloud
 */
.wp-tag-cloud {
  margin-left: 1rem;
  -webkit-column-width: 10rem;
  -moz-column-width: 10rem;
  column-width: 10rem;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem; }

.wp-tag-cloud a,
.widget_most_popular_tags a {
  font-size: 1rem !important; }

/**
 * Meta text
 */
.Meta {
  font-size: 0.888888889rem;
  line-height: 1.625; }
  .Meta:last-child {
    margin-top: 1.3rem; }

/**
 * Table of contents link
 */
.TocLink {
  position: fixed;
  bottom: -0.5rem;
  right: 1rem;
  display: none; }
  @media (min-width: 980px) {
    .TocLink {
      display: block; } }
  .TocLink a {
    background-image: none;
    text-shadow: none; }

/**
 * Edit link
 */
a.post-edit-link {
  float: right;
  color: red; }

/**
 * Styleguide
 */
.Color {
  display: inline-block;
  width: 7em;
  min-height: 7em;
  margin: 0 7px 10px 0;
  padding-top: 10px;
  text-align: center; }

/* Loader */
#Loader {
  font-size: 100px;
  width: 1em;
  height: 0.5em;
  position: fixed;
  margin: 0;
  top: 5.75rem;
  left: 2.4rem;
  opacity: 0;
  pointer-events: none; }

.is-routing #Loader {
  opacity: 1; }

.Stick {
  width: 0.5em;
  height: 6px;
  position: absolute;
  top: 0;
  border: 1px solid transparent; }

.Stick--right > span,
.Stick--left > span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: blue; }

.Stick--left {
  left: 3px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation: left 1.7s infinite;
  animation: left 1.7s infinite; }

@-webkit-keyframes left {
  from {
    -webkit-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1); }

  50% {
    -webkit-transform: rotate(540deg) scale(1.5);
    transform: rotate(540deg) scale(1.5); }

  to {
    -webkit-transform: rotate(540deg) scale(1);
    transform: rotate(540deg) scale(1); } }

@keyframes left {
  from {
    -webkit-transform: rotate(180deg) scale(1);
    -ms-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1); }

  50% {
    -webkit-transform: rotate(540deg) scale(1.5);
    -ms-transform: rotate(540deg) scale(1.5);
    transform: rotate(540deg) scale(1.5); }

  to {
    -webkit-transform: rotate(540deg) scale(1);
    -ms-transform: rotate(540deg) scale(1);
    transform: rotate(540deg) scale(1); } }
.Stick--right {
  right: 3px;
  -webkit-animation: right 1.7s infinite;
  animation: right 1.7s infinite; }

@-webkit-keyframes right {
  from {
    -webkit-transform: rotate(0deg) scale(1.5);
    transform: rotate(0deg) scale(1.5); }

  50% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1); }

  to {
    -webkit-transform: rotate(-360deg) scale(1.5);
    transform: rotate(-360deg) scale(1.5); } }

@keyframes right {
  from {
    -webkit-transform: rotate(0deg) scale(1.5);
    -ms-transform: rotate(0deg) scale(1.5);
    transform: rotate(0deg) scale(1.5); }

  50% {
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1); }

  to {
    -webkit-transform: rotate(-360deg) scale(1.5);
    -ms-transform: rotate(-360deg) scale(1.5);
    transform: rotate(-360deg) scale(1.5); } }
