<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ if eq .URL "/" }}{{ .Site.Title }}{{ else if eq .URL "/post/" }}All Entries &middot; {{ .Site.Title }}{{ else if in .URL "/tags/" }}{{ .Site.Title }}{{ else }}{{ .Title }}&middot; {{ .Site.Title }}{{ end }}</title>
	<meta name="author" content="{{ .Site.Author.name }}">
	<meta property="og:site_name" content="{{ .Site.Title }}">
	<meta name="description" content="Codes and notes is a reference to web development that you can trust">
	{{ if eq .URL "/" }}
		<!-- Index -->
		<meta property="og:title" content="{{ .Site.Title }}">
		{{ range first 1 .Data.Pages }}
	{{ end }}
	{{ else if in .URL "/tags/" }}
		<!-- Category -->
		<meta property="og:title" content="{{ .Site.Title }}">
	{{ else }}
		<!-- Article -->
		<meta property="og:title" content="{{ .Title }} &middot; {{ .Site.Title }}">
	{{ end }}

	<link rel="stylesheet" href="/styles/codesandnotes.css" />
	<!-- <link rel="stylesheet" href="/styles/tufte.css" /> -->
	<script src="//use.typekit.net/krs2vbw.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>

	<div class="CodesAndNotes">
