doctype
html.no-js(lang='en')
	head
		block header
			meta(charset='utf-8')
			title Codes & Notes
			meta(name='description', content='')
			meta(name='viewport', content='width=device-width, initial-scale=1')

			// build:css styles/main.css
			link(rel='stylesheet', href='/styles/codesandnotes3.css')
			// endbuild

			// build:js scripts/vendor-header.js
			//- script(src='/scripts/vendor/modernizr-custom.js')
			// endbuild

	body(class="#{bodyClass}")
	
		.App
			header
				p Codes & Notes
				h1=nav.title
				hr
			
			include nav
			
			main
				block outlet

		.Scripts
			// build:js scripts/vendor.js
			// bower:js
			//- script(src='/bower_components/jquery/dist/jquery.js')
			//- script(src='/bower_components/jquery-pjax/jquery.pjax.js')
			//- script(src='/bower_components/imagesloaded/imagesloaded.pkgd.js')
			//- script(src='/bower_components/lazysizes/lazysizes.js')
			//- script(src='/bower_components/magnific-popup/dist/jquery.magnific-popup.js')
			// endbower
			// endbuild

			// build:js scripts/main.js
			//- script(src='/scripts/vendor/lodash-custom.min.js')
			//- script(src='/scripts/tabs.js')
			//- script(src='/scripts/rough-masonry.js')
			//- script(src='/scripts/rough.js')
			//- script(src='/scripts/rough-pjax.js')
			//- script(src='/scripts/app.js')
			// endbuild

			//- Google Analytics: change UA-XXXXX-X to be your site's ID.
			//- script.
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='https://www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-XXXXX-X');ga('send','pageview');
