<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<!-- <link rel="stylesheet" href="styles/prism.css" /> -->
	<!-- <link rel="stylesheet" href="/styles/can-simple.css" /> -->
	<link rel="stylesheet" href="/styles/codesandnotes.css" />

	<title>
		{{ if eq .Url "/" }}
			{{ .Site.Title }} — A reference for web development you can trust
		{{ else if eq .Url "/post/" }}
			All Entries &middot; {{ .Site.Title }}
		{{ else if in .Url "/tags/" }}
			{{ .Site.Title }}
		{{ else }}
			{{ .Title }} &middot; {{ .Site.Title }}
		{{ end }}
	</title>

	<meta name="author" content="{{ .Site.Author.name }}">
	<meta property="og:site_name" content="{{ .Site.Title }}">
	<meta name="description" content="Codes and notes is a reference for web development that you can trust">

	{{ if eq .Url "/" }}
		<!-- Index -->
		<meta property="og:type" content="website">
		{{ range first 1 .Data.Pages }}
			<meta property="og:title" content="{{ .Site.Title }}">
		{{ end }}
	{{ else if eq .Url "/post/" }}
		<!-- Post -->
		<meta property="og:title" content="All Entries &middot; {{ .Site.Title }}">
	{{ else if in .Url "/tags/" }}
		<!-- Category -->
		<meta property="og:title" content="{{ .Site.Title }}">
	{{ else }}
		<!-- Article -->
		<meta property="og:type" content="article">
		<meta property="og:title" content="{{ .Title }} &middot; {{ .Site.Title }}">
	{{ end }}

	<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>
<body>

	<div class="CodesAndNotes">
