/* Loader */
#Loader {
	font-size: 100px;
	width: 1em;
	height: 0.5em;
	position: fixed;
	margin: 0;
	top: 5.75rem;
	left: 2.4rem;
	opacity: 0;
	pointer-events: none;
}
.is-routing #Loader {
	opacity: 1;
}

.Stick {
  width: 0.5em;
  height: 6px;
  position: absolute;
  top: 0;
  border: 1px solid transparent;
}
.Stick--right > span,
.Stick--left > span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: blue;
}
.Stick--left {
  left: 3px;
  transform: rotate(180deg);
  animation: left 1.7s infinite;
}

@keyframes left {
  from {
    transform: rotate(180deg) scale(1);
  }
  50% {
    transform: rotate(540deg) scale(1.5);
  }
  to {
    transform: rotate(540deg) scale(1);
  }
}


.Stick--right {
  right: 3px;
  animation: right 1.7s infinite;
}
@keyframes right {
  from {
    transform: rotate(0deg) scale(1.5);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(-360deg) scale(1.5);
  }
}
