/*!
	Oskar Rough Mosumgaard. 2014.
*/

$black: #111;
$orange: #F36611;
$sand: #f4e8d5;
$green: #207c14;

$base-line-height: 26;

$small: 16;
$base-font-size: 18;
$medium: 23;
$large: 27;
$larger: 36;
$x-large: 47;

// $space: ($base-line-height/$base-font-size) * 1rem;
$space: 1.444444444;

@mixin rhythm($size) {
	font-size: ($size/$base-font-size) * 1rem;
	line-height: ($base-line-height/$size);
}

@import 'base.scss';
@import 'typography.scss';
@import 'header.scss';
@import 'layout.scss';
@import 'loader.scss';
