		</main>

		{{ partial "aside.html" . }}

		<footer class="Footer">
			<p>
				<a href="http://codesandnotes.com">Codes &amp; Notes</a>
				<span class="Copyright">&copy; Oskar Rough Mosumgaard 2015</span>
				<!-- <a href="/about">→  About</a> -->
			</p>
			<!-- <p class="TocLink"><a href="http://codesandnotes.com#toc">§ Table of contents</a></p> -->
		</footer>
	</div>  <!-- /.CodesAndNotes -->

	<div id="Loader">
		<div class="Stick Stick--left"><span></span></div>
		<div class="Stick Stick--right"><span></span></div>
	</div>

	<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-3906535-21', 'codesandnotes.com');ga('send', 'pageview');</script>

</body>
</html>
