<div class="Newsletter">
	<h3>Get updates on Codes &amp; Notes</h3>
	<p>Sign up to be notified if something drastic happens to the project.</p>

	<!-- Begin MailChimp Signup Form -->
	<form action="//codesandnotes.us8.list-manage.com/subscribe/post?u=d5f64c3f47749a54b871ed16b&amp;id=a97fcee0c4" method="post" class="Form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div class="Form-group">
			<label for="mce-EMAIL">Email Address </label>
			<input type="email" value="" name="EMAIL" required id="mce-EMAIL">
		</div>
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		<div style="position: absolute; left: -5000px;"><input type="text" name="b_d5f64c3f47749a54b871ed16b_a97fcee0c4" tabindex="-1" value=""></div>
		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
	</form>
	<!--End mc_embed_signup-->
</div>

